			<!-- <img class="section-header" src ="/images/header_contact.png"/> -->
			<div id="contact" class="contact">
				<div class="flex-wrap contact-content">
					<a href="mailto:sam.erin.yeager@gmail.com"><i class="fas fa-envelope-square icon-link"></i></a>
					<a href="https://twitter.com/M_M_Fane" target="_blank"><i class="fab fa-twitter icon-link"></i></a>
					<a href="https://www.instagram.com/mmfane/" target="_blank"><i class="fab fa-instagram icon-link"></i></a>
					<a href="https://www.linkedin.com/in/samerinyeager" target="_blank"><i class="fab fa-linkedin icon-link"></i></a>
					<div class="flex-wrap phone"><span><i class="fas fa-phone-square fa-2x"></i></span><span>(740) 591-7429</span></div>
				</div>
			</div>
			<div class="footer">
				<p>© 2018 Sam Yeager</p>
			</div>
		</div>
		<script src="/scripts/toggle.js" type="text/javascript"></script>
	</body>
</html>