		<div id="contact" class="contact">
			<div class="contact-item">
				<a href="mailto:sam.erin.yeager@gmail.com"><i class="fas fa-envelope-square fa-2x icon-link"></i></a>
				<a href="https://twitter.com/M_M_Fane" target="_blank"><i class="fab fa-twitter fa-2x icon-link"></i></a>
				<a href="https://www.instagram.com/mmfane/" target="_blank"><i class="fab fa-instagram fa-2x icon-link"></i></a>
				<a href="https://www.linkedin.com/in/samerinyeager" target="_blank"><i class="fab fa-linkedin fa-2x icon-link"></i></a>
				<div class="phone"><span><i class="fas fa-phone-square fa-2x"></i></span><span>(740) 591-7429</span></div>
			</div>
		</div>
		<div class="footer">
			<p>All content © 2018 Sam Yeager | Website by Sam Yeager</p>
		</div>
	</body>
</html>