		<div class="contact">
			<div>
				<i class="fas fa-envelope-square fa-2x"></i>
				<i class="fab fa-twitter fa-2x"></i>
				<i class="fab fa-instagram fa-2x"></i>
				<i class="fab fa-linkedin fa-2x"></i>
				<p class="phone"><span><i class="fas fa-phone-square fa-2x"></i></span>(740) 591-7429</p>
			</div>
		</div>
		<div class="footer">
			<p>All content © 2018 Sam Yeager | Website by Sam Yeager</p>
		</div>
	</body>
</html>