<!DOCTYPE html>
<html>
	<head>
		<title>Sam (Williams) Yeager: UI/UX Designer</title>
		<link rel="icon" type="image/png" href="/images/favicon_sam.png">
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono|Francois+One" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
		<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/ANIMATIONTEST.css"> -->
		<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="grid">
			<header class="flex-col header">
				<div>
					<img class="signature" src="/images/Signature.png" />
				</div>
				<h1>Samantha Yeager</h1>
				<h2>
					<em>UI / UX Designer</em>
				</h2>
			</header>