<!DOCTYPE html>
<html>
	<head>
		<title>Sam Yeager: Visual Designer</title>
		<link rel="icon" type="image/png" href="/images/favicon_sam.png">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
	</head>
	<body>