<div class="veil">
    <div class="no-touch flex-wrap flex-col flex-justify-center flex-align-center fullscreen">
        <div id="zoom-image">
        </div>
        <div id="transition-image">
        </div>
        <div>
            <p id="description">Description</p>
        </div>
        <div id="btn-container" class="flex-wrap flex-justify-center flex-align-center">
            <btn id="prev" class="gallery-btn" style="padding-right:3px;">
                <i class="fas fa-caret-left"></i>
            </btn>
            <p id="index">0</p>
            <p>/</p>
            <p id="total">0</p>
            <btn id="next" class="gallery-btn" style="padding-left:3px;">
                <i class="fas fa-caret-right"></i>
            </btn>
        </div>
    </div>
</div>