<div class="nav">
    <label for="show-menu" class="show-menu">
        <img src="/images/Signature.png" />
        <i class="fas fa-bars fa-2x"></i>
    </label>
    <input type="checkbox" id="show-menu" role="button">
    <ul id="menu">
        <li style="border-right: 1px solid rgba(0, 0, 0, 0.25);">
            <a href="/#projects">Projects</a>
            <ul class="hide">
                <li>
                    <a href="/projects/wildtangent-casino">WildTangent Casino</a>
                </li>
                <li>
                    <a href="/projects/spell-slingers">SpellSlingers</a>
                </li>
                <li>
                    <a href="/projects/stellar-fortune">Stellar Fortune</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/#resume-start">Resumé</a>
        </li>
        <div class="nav-brand desktop-brand">
            <a href="/"><img src="/images/Signature.png" /></a>
        </div>
        <li>
            <a href="/#about">About</a>
            <ul class="hide">
                <li>
                    <a href="/about/reviews">Reviews</a>
                </li>
            </ul>
        </li>
        <li style="border-left: 1px solid rgba(0, 0, 0, 0.25);">
            <a href="/#contact">Contact</a>
        </li>
    </ul>
</div>