<!-- <div class="flex-wrap nav">
    <div class="flex-align-center flex-justify-betw show-menu" >
        <div class="nav-brand">
            <img src="/images/Signature.png"/>
        </div>
        <label for="show-menu"><i class="fas fa-bars"></i></label>
    </div>
    <input type="checkbox" id="show-menu" role="button"> 
    <div class="flex-wrap nav-links" id="menu">
        <a class="nav-item" href="/#projects">Projects</a>
        <a class="nav-item" href="/#resume">Resumé</a>
        <div class="nav-brand desktop-brand">
            <img src="/images/Signature.png"/>
        </div>
        <a class="nav-item" href="/#about">About Me</a>
        <a class="nav-item" href="/#contact">Contact</a>
    </div>
</div> -->

<div class="nav">
    <label for="show-menu" class="show-menu">
        <img src="/images/Signature.png" />
        <i class="fas fa-bars fa-2x"></i>
    </label>
    <input type="checkbox" id="show-menu" role="button">
    <ul id="menu">
        <li style="border-right: 1px solid rgba(0, 0, 0, 0.25);">
            <a href="/#projects">Projects</a>
            <ul class="hide">
                <li>
                    <a href="/projects/wildtangent-casino">WildTangent Casino</a>
                </li>
                <li>
                    <a href="/projects/spell-slingers">SpellSlingers</a>
                </li>
                <li>
                    <a href="/projects/stellar-fortune">Stellar Fortune</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/#resume-start">Resumé</a>
        </li>
        <div class="nav-brand desktop-brand">
            <img src="/images/Signature.png" />
        </div>
        <li>
            <a href="/#about">About</a>
            <ul class="hide">
                <li>
                    <a href="/about/reviews">Reviews</a>
                </li>
            </ul>
        </li>
        <li style="border-left: 1px solid rgba(0, 0, 0, 0.25);">
            <a href="/#contact">Contact</a>
        </li>
    </ul>
</div>
