<% include ./partials/header.ejs %>	
<% include ./partials/nav.ejs %>

<div class="grid">
    <header class="flex-col header">
        <img class="section-header" src ="/images/header_about.png" alt="About Me"/>
    </header>
    <div id="about">
        <div class="flex-wrap flex-col no-overflow">
            <div class="flex-wrap company flex-align-center">
                <div class="flex-wrap flex-section company-section bg-cover bg-artist">
                </div>
                <div class="flex-section company-section company-proj">
                    <h5>My Elevator Pitch</h5>
                    <p>I'm a UI/UX Designer with four years of experience specializing in game and app development. 
                    I focus on design process best practices, collaborate within and across teams, and bridge the gap between aesthetics and technology.</p>
                </div>
                <div class="flex-section company-section company-proj">
                    <h5>Work Status</h5>
                    <p><strong>Actively looking for new roles.</strong></p>
                    <p>Please contact me about opportunities!</p>
                    <p><em>Open to freelance, contract, and fulltime positions</em></p>
                </div>
                <div class="flex-section company-section">
                    <h5>Reviews of My Work</h5>
                    <div class="flex-wrap store-badge-wrap">
                        <a href="#" class="btn-normal flex-wrap flex-align-center">
                            <i class="far fa-file-alt"></i>
                            <p><strong>Read</strong></p>
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex-wrap company company-section flex-col no-padding">
                <h5>Hobbies</h5>
                <div class="flex-wrap">
                    <div class="image-chip bg-draw">
                        <p>Drawing</p>
                    </div>
                    <div class="image-chip bg-walk">
                        <p>Walking</p>
                    </div>
                    <div class="image-chip bg-cook">
                        <p>Cooking</p>
                    </div>
                    <div class="image-chip bg-anime">
                        <p>Anime</p>
                    </div>
                    <div class="image-chip bg-vgame">
                        <p>Videogames</p>
                    </div>
                    <div class="image-chip bg-smash">
                        <p>Competitive Super Smash Bros</p>
                    </div>
                    <div class="image-chip bg-bgame">
                        <p>Boardgames</p>
                    </div>
                </div>
            </div>
            <div class="flex-wrap company company-section">
                <h5>Current Favorite Games</h5>
                <div class="flex-wrap flex-section chip-wrap">
                    <div class="chip">
                        <div class="chip-tag">Video</div>
                        <div class="chip-body">Clash Royale</div>
                    </div>
                    <div class="chip">
                        <div class="chip-tag">Video</div>
                        <div class="chip-body">Stardew Valley</div>
                    </div>
                    <div class="chip">
                        <div class="chip-tag">Video</div>
                        <div class="chip-body">Cuphead</div>
                    </div>
                    <div class="chip">
                        <div class="chip-tag">Video</div>
                        <div class="chip-body">Civilization VI</div>
                    </div>
                    <div class="chip">
                        <div class="chip-tag">Video</div>
                        <div class="chip-body">Breath of the Wild</div>
                    </div>
                    <div class="chip">
                        <div class="chip-tag">Video</div>
                        <div class="chip-body">Super Smash Bros for Wii U</div>
                    </div>
                    <div class="chip">
                        <div class="chip-tag">Board</div>
                        <div class="chip-body">Seven Wonders</div>
                    </div>
                    <div class="chip">
                        <div class="chip-tag">Board</div>
                        <div class="chip-body">Betrayal at the House on the Hill</div>
                    </div>
                    <div class="chip">
                        <div class="chip-tag">Board</div>
                        <div class="chip-body">Sushi Go</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include ./partials/footer.ejs %>