<% include ./partials/header.ejs %>	
<% include ./partials/nav.ejs %>

<div class="grid">
    <header class="flex-col header">
        <img class="section-header" src ="/images/header_contact.png"/>
    </header>
    <div>
        <p style="color:black;">Stuff</p>
    </div>

<% include ./partials/footer.ejs %>