<% include ./partials/header.ejs %>	

<div class="grid">
    <header class="flex-col header">
        <div>
            <img class="signature" src="/images/Signature.png"/>
        </div>
        <h1 class="flex-wrap flex-center" style="padding: 0 50px;">Samantha Yeager</h1>
        <h2><em>UI / UX Designer</em></h2>
    </header>

    <% include ./partials/nav.ejs %>
    
    <div>
        <img class="section-header" src ="/images/header_contact.png"/>
        <p style="color:black;">Stuff</p>
    </div>

<% include ./partials/footer.ejs %>