<% include ./partials/header.ejs %>	

	<header class="header">
		<div>
			<img class="signature" src="/images/Signature.png"/>
		</div>
		<h1> Samantha Yeager </h1>
		<h2> UI/UX Designer</h2>

	</header>
	<div class="main">
		<div class="section-card">
			<img class="section-header" src ="/images/header_projects.png"/>
			<!-- <h3>Projects</h3> -->
			<div class="section-1">
				<h3>WildTangent Casino</h3>
				<img src="/images/WildTangentHeader.png"/>
				<img src="/images/WildTangentHeader.png"/>
				<img src="/images/WildTangentHeader.png"/>
				<img src="/images/WildTangentHeader.png"/>
				<img src="/images/WildTangentHeader.png"/>
			</div>
			<div class="flex-wrap">
				<div class="section-light section-2">
					<h3>Spell Slingers</h3>
					<img src="/images/WildTangentHeader.png"/>
				</div>
				<div class="section-light section-2">
					<h3>Stellar Fortune</h3>
					<img src="/images/WildTangentHeader.png"/>
				</div>
			</div>
		</div>
		<div class="section-full-dark">
			<img class="section-header" src ="/images/header_resume.png" alt="Resume"/>
			<div class="flex-wrap">
				<div class="section-dark section-3">
					<h3>Languages</h3>
					<ul>
						<li>HTML5</li>
						<li>CSS3</li>
						<li>Javascript ES6</li>
					</ul>
				</div>
				<div class="section-dark section-3">
					<h3>Software</h3>
					<ul>
						<li>Adobe Photoshop</li>
						<li>Adobe Illustrator</li>
						<li>Adobe After Effects</li>
						<li>Unity3D</li>
						<li>Proto.io</li>
						<li>Trello</li>
						<li>Perforce</li>
					</ul>
				</div>
				<div class="section-dark section-3">
					<h3>Education</h3>
					<ul>
						<li>
							Ohio University
							<ul>
								<li>B.S. in Digital Media: Games and Animation</li>
								<li>Minor in Computer Science</li>
								<li>Certificate in Chinese Language</li>
							</ul>
						</li>
						<li>
							Projects of Note
							<ul>
								<li>SunSat (2011), presented at ISDC 2011 in Huntsville</li>
								<li>SunSat (2012) presented at ISDC 2012 in Washington D.C.</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="section-1 section-dark .margin">
				<h3>Work Experience</h3>
			</div>
		</div>
		<div class="section-full-light end-margin">
			<img class="section-header" src ="/images/header_about.png" alt="Resume"/>
			<div class="section-light">
				<p>Stuff</p>
			</div>
		</div>
	</div>


<!-- <div class="page-wrap">
	<div class="top-content">
		<img  id="brand-image" alt="Brand" src="./Images/Signature.png">
		<h1>Portfolio</h1>
	</div>

	<hr>

	<div class="all-projects">

		<div class="main-project">
			<h2>WildTangent Casino</h2>
			<div class="project-content">
			</div>
		</div>

		<div class="other-projects">
			<div class="project">
				<h2>Spell Slingers</h2>
				<div class="project-content">
				</div>
			</div>

			<div class="spacer"></div>

			<div class="project">
				<h2>Stellar Fortune</h2>
				<div class="project-content">
				</div>
			</div>	
		</div>
	</div>
</div> -->

<% include ./partials/footer.ejs %>