<% include ./partials/nav.ejs %>
<% include ./partials/header.ejs %>

			<div class="main">
				<div id="projects">
					<div class="flex-wrap flex-justify-even">
						<div class="flex-wrap flex-col flex-justify-center flex-align-center">
							<img class="project-header" src="/images/SectionHeaders/header_wildtangent_white.png" alt="WildTangent Casino Project"/>
							<!-- <h3 class="title-card">WildTangent Casino</h3> -->
							<div class="flex-wrap store-badge-wrap flex-justify-start flex-align-center">
								<a href="https://play.google.com/store/apps/details?id=com.wildtangent.wildtangentcasino&hl=en" target="_blank">
									<img class="store-badge" src="/images/google-play-badge.png" />
								</a>
								<a href="https://itunes.apple.com/us/app/wildtangent-casino-free-slots/id1039004412?mt=8" target="_blank">
									<img class="store-badge" src="/images/app-store-badge.png" />
								</a>
							</div>
							<img class="project-img" src="/images/ProjectHeaders/wildtangent-casino-phones.png">
							<a class="btn-normal" href="/projects/wildtangent-casino">View</a>
						</div>
						<div class="flex-wrap flex-col flex-justify-center flex-align-center" >
							<img class="project-header" src="/images/SectionHeaders/header_spellslingers_white.png" alt="SpellSlingers Project"/>
							<!-- <h3 class="title-card">SpellSlingers</h3> -->
							<div class="flex-wrap store-badge-wrap flex-justify-start">
								<a href="http://legacygamesystems.com/our-demo-game-is-getting-a-makeover/" target="_blank" class="btn-badge flex-wrap flex-align-center">
								<i class="fas fa-hourglass-half"></i>
								<div class="flex-wrap flex-col flex-align-start">
								<p class="btn-badge-first-p">Still in production</p>
								<p>
									<strong>View Info</strong>
								</p>
							</div>
							</a>
						</div>
						<img class="project-img" src="/images/ProjectHeaders/spellslingers-phone.png">
						<a class="btn-normal" href="/projects/spell-slingers">View</a>
					</div>
						<div class="flex-wrap flex-col flex-justify-center flex-align-center">
							<img class="project-header" src="/images/SectionHeaders/header_stellarfortune_white.png" alt="Stellar Fortune Project"/>
							<!-- <h3 class="title-card">Stellar Fortune</h3> -->
							<div style="height:48.38;"></div>
							<img class="project-img" src="/images/ProjectHeaders/stellar-fortune-computer.png">
							<a class="btn-normal" href="/projects/stellar-fortune">View</a>
						</div>
					</div>
				</div>

				<div class="flex-wrap flex-col flex-align-center text-black text-left" style="grid-column: 1 / span 3; margin-top:125px;">
					<div class="flex-wrap flex-col flex-align-left">
						<p>"I had the incredible pleasure of working with Samantha Yeager on a contractual basis for several months."</p>
						<p>"Could she deliver what we needed, on time and on our budget? Yup."</p>
						<p style="margin-bottom:50px;">"She gets along with everyone she meets, is dependable and is a great problem solver."</p>
					</div>
					
					<a class="btn-normal" href="/about/reviews" style="align-self: center; text-align:center;">Read Reviews</a>
				</div>

				<div id="resume">
					<img class="section-header" src="/images/SectionHeaders/header_resume.png" alt="Resume" style="margin-top:150px"/>
					<div class="banner dark-red">
						<p> Download:
							<span>
								<a href="#">
									<i class="fas fa-file-pdf"></i> PDF</a>
							</span>
							<span>
								<a href="#">
									<i class="fas fa-file-word"></i> DOCX</a>
							</span>
						</p>
					</div>
					<div id="lang-soft-edu" class="flex-wrap">
						<div class="flex-section">
							<div class="icon-circle">
								<i class="fas fa-code"></i>
							</div>
							<h4>Languages</h4>
							<div class="flex-wrap chip-wrap">
								<div class="chip">
									<div class="chip-tag">
										<p>Markup</p>
									</div>
									<div class="chip-body">HTML5</div>
								</div>
								<div class="chip">
									<div class="chip-tag">
										<p>Markup</p>
									</div>
									<div class="chip-body">CSS3</div>
								</div>
								<div class="chip">
									<div class="chip-tag">
										<p>Script</p>
									</div>
									<div class="chip-body">Javascript ES6</div>

								</div>
							</div>
							<h4>Frameworks, Libraries, & Tools</h4>
							<div class="flex-wrap chip-wrap">
								<div class="chip">
									<div class="chip-tag">
										<p>Frame</p>
									</div>
									<div class="chip-body">Express</div>
								</div>
								<div class="chip">
									<div class="chip-tag">
										<p>Runtime Env</p>
									</div>
									<div class="chip-body">Node.js</div>
								</div>
							</div>
						</div>
						<div class="flex-section">
							<div class="icon-circle">
								<i class="fas fa-desktop"></i>
							</div>
							<h4>Software</h4>
							<div class="flex-wrap chip-wrap">
								<div class="chip">
									<div class="chip-tag">
										<p>Art</p>
									</div>
									<div class="chip-body">Adobe Photoshop</div>
								</div>
								<div class="chip">
									<div class="chip-tag">
										<p>Art</p>
									</div>
									<div class="chip-body">Adobe Illustrator</div>
								</div>
								<div class="chip">
									<div class="chip-tag">
										<p>Anim</p>
									</div>
									<div class="chip-body">Adobe After Effects</div>
								</div>
								<div class="chip">
									<div class="chip-tag">
										<p>Proto</p>
									</div>
									<div class="chip-body">Proto.io</div>
								</div>
								<div class="chip">
									<div class="chip-tag">
										<p>Game Engine</p>
									</div>
									<div class="chip-body">Unity3D</div>
								</div>
								<div class="chip">
									<div class="chip-tag">
										<p>Organize</p>
									</div>
									<div class="chip-body">Trello</div>
								</div>
								<div class="chip">
									<div class="chip-tag">
										<p>VCS</p>
									</div>
									<div class="chip-body">Perforce</div>
								</div>
								<div class="chip">
									<div class="chip-tag">
										<p>VCS</p>
									</div>
									<div class="chip-body">Git</div>
								</div>
							</div>
						</div>
						<div class="flex-section">
							<div class="icon-circle">
								<i class="fas fa-graduation-cap"></i>
							</div>
							<h4>Education</h4>
							<h5>
								<i class="fas fa-paw"></i> Ohio University
								<em>(2009 - 2013)</em>
							</h5>
							<div class="flex-wrap chip-wrap">
								<div class="chip">
									<div class="chip-tag">
										<p>B.S.</p>
									</div>
									<div class="chip-body">Digital Media: Games and Animation</div>
								</div>
								<div class="chip">
									<div class="chip-tag">
										<p>Minor</p>
									</div>
									<div class="chip-body">Computer Science</div>
								</div>
								<div class="chip">
									<div class="chip-tag">
										<p>Certificate</p>
									</div>
									<div class="chip-body">Chinese Language</div>
								</div>
							</div>
						</div>
					</div>
					<div class="flex-wrap flex-col">
						<div class="banner dark-red banner-reverse">
							<h4>Work Experience</h4>
						</div>
						<div class="flex-wrap company most-recent-company">
							<div class="most-recent-job flex-wrap flex-section flex-col flex-align-center company-section company-img bg-cover bg-freelance" style="padding-top:50px;">
								<h4>Freelance (Various Clients)</h4>
								<img class="company-logo" src="/images/Signature.png" />
							</div>
							<div class="flex-wrap flex-section flex-col company-section company-title-section" style="padding-top:50px;">
								<div class="flex-wrap text-left">
									<h4>UI/UX Designer & Illustrator</h4>
									<p>Seattle, WA / Remote</p>
									<p>02/18 to present</p>
								</div>
							</div>
							<div class="flex-wrap flex-section flex-col company-section text-left" style="padding-top:50px;">
								<h4>Responsibilities</h4>
								<p>Overseeing early app UI/UX design process</p>
								<p>Illustrating both professional and personal images</p>
							</div>
							<div class="flex-wrap flex-align-left flex-section flex-col text-left company-section company-proj bg-proj-small bg-proj-freelance bg-cover">
								<h4 class="width-min-150" style="padding-top:15px;">Ninja Animals</h4>
							</div>
						</div>

						<div class="flex-wrap company" style="background-color: #6c523b">
							<div class="flex-wrap flex-section flex-col company-section company-img bg-cover bg-cake-golem">
								<h4>Cake Golem Productions & Legacy Game Systems</h4>
								<div class="flex-wrap company-logo-double">
									<img class="company-logo" src="/images/CompanyLogos/CakeGolemProductions.png" />
									<img class="company-logo" src="/images/CompanyLogos/LGS.png" />
								</div>
							</div>
							<div class="flex-wrap flex-section flex-col company-section text-left company-title-section">
								<h4>UI/UX Designer</h4>
								<p>Seattle, WA / Remote</p>
								<p>12/17 to 02/18</p>
							</div>
							<div class="flex-wrap flex-section flex-col company-section text-left">
								<h4>Responsibilities</h4>
								<p>Handled UI asset creation for a mobile AR game</p>
								<p>Guided UX design with wireframes, mockups, and prototypes</p>
							</div>
							<div class="flex-wrap flex-align-left flex-col flex-section text-left company-section company-proj bg-proj-small bg-proj-spellslingers bg-cover">
								<h4 class="width-min-150">SpellSlingers</h4>
								<div class="flex-wrap store-badge-wrap flex-justify-start">
									<a href="http://legacygamesystems.com/our-demo-game-is-getting-a-makeover/" target="_blank" class="btn-badge flex-wrap flex-align-center">
										<i class="fas fa-hourglass-half"></i>
										<div class="flex-wrap flex-col flex-align-left">
											<p class="btn-badge-first-p">Still in production</p>
											<p>
												<strong>View Info</strong>
											</p>
										</div>
									</a>
								</div>
							</div>
						</div>

						<div class="flex-wrap company" style="background-color: #272a49; display: flex;">
							<div class="flex-wrap flex-section flex-col flex-align-center company-section company-img bg-cover bg-wildtangent" style="width:25%;">
								<h4>WildTangent Studios</h4>
								<img style="margin: 20px 10px 0 10px;" src="/images/CompanyLogos/WTStudios.png" />
							</div>
							<div class="flex-wrap flex-section flex-col company-section text-left company-title-section">
								<h4>UI/UX Artist</h4>
								<p>Seattle, WA</p>
								<p>02/16 to 09/16</p>
							</div>
							<div class="flex-wrap flex-section flex-col company-section text-left" style="width:25%;">
								<h4>Responsibilities</h4>
								<p>Ensured assets met UX and performance specs in Unity (collaborating with engineers and designers)</p>
								<p>Designed UI assets; built and animated them in Unity</p>
								<p>Researched plugins, programs, and best practices to improve art pipeline</p>
							</div>
							<div class="flex-wrap flex-align-left flex-col flex-section text-left company-section company-proj bg-cover bg-proj-small bg-proj-wildtangentcasino" style="width:25%;">
								<h4 class="width-min-150">WildTangent Casino:</h4>
								<h4 class="width-min-150" style="margin-top:10px;">Super Sevens Polar Bowler</h4>
								<div class="flex-wrap store-badge-wrap flex-justify-center width-min-150">
									<a href="https://play.google.com/store/apps/details?id=com.wildtangent.wildtangentcasino&hl=en" target="_blank">
										<img class="store-badge" src="/images/google-play-badge.png" />
									</a>
									<a  style="margin-top: 10px;" href="https://itunes.apple.com/us/app/wildtangent-casino-free-slots/id1039004412?mt=8" target="_blank">
										<img class="store-badge" src="/images/app-store-badge.png" />
									</a>
								</div>
							</div>
						</div>

						<div class="flex-wrap company" style="background-color: #7b5773">
							<div class="flex-wrap flex-section flex-col flex-align-center company-section company-img bg-cover bg-g3">
								<h4>Global Gaming Group</h4>
								<img class="company-logo" src="/images/CompanyLogos/G3.png" />
							</div>
							<div class="flex-wrap flex-section flex-col company-section text-left company-title-section">
								<h4>Visual Designer</h4>
								<p>Las Vegas, NV</p>
								<p>02/14 to 02/16</p>
							</div>
							<div class="flex-wrap flex-section flex-col company-section text-left">
								<h4>Responsibilities</h4>
								<p>Created vector UI assets for various slot games</p>
								<p>Animated assets in Adobe After Effects, using Trapcode plugins</p>
							</div>
							<div class="flex-wrap flex-align-left flex-col flex-section text-left company-section company-proj bg-cover bg-proj-small bg-proj-stellarfortune">
								<h4>Stellar Fortune</h4>
								<!-- <p class="width-min-150">
									<em>Only available on physical slot machines</em>
								</p> -->
							</div>
						</div>

						<div class="flex-wrap company" style="background-color: #9b282f">
							<div class="flex-wrap flex-section flex-col flex-align-center company-section company-img bg-cover bg-spin-for-good">
								<h4>Spin for Good, LLC</h4>
								<img class="company-logo" src="/images/CompanyLogos/SpinForGood.png" />
							</div>
							<div class="flex-wrap flex-section flex-col company-section text-left company-title-section">
								<h4>2D Artist & Animator</h4>
								<p>Las Vegas, NV</p>
								<p>11/13 to 01/14</p>
							</div>
							<div class="flex-wrap flex-section flex-col company-section text-left">
								<h4>Responsibilities</h4>
								<p>Designed and animated vector and raster UI assets and typography for a charity non-profit slot game</p>
							</div>
							<div class="flex-wrap flex-align-left flex-col flex-section text-left company-section company-proj bg-cover bg-proj-small bg-proj-spinforgood">
								<h4>Spin For Good</h4>
								<!-- <div class="flex-wrap store-badge-wrap flex-justify-start">
									<a href="https://www.facebook.com/SpinForGood/" target="_blank" class="btn-badge flex-wrap flex-align-center">
										<i class="fas fa-ban"></i>
										<div class="flex-wrap flex-col flex-align-left flex-align-start">
											<p class="btn-badge-first-p">No longer available</p>
											<p>
												<strong>View Info</strong>
											</p>
										</div>
									</a>
								</div> -->
							</div>
						</div>

						<div class="flex-wrap company" style="background-color: d96743">
							<div class="flex-wrap flex-section flex-col flex-align-center company-section company-img bg-cover bg-sunstorm">
								<h4>Sunstorm Games</h4>
								<img class="company-logo" src="/images/CompanyLogos/Sunstorm.png" />
							</div>
							<div class="flex-wrap flex-section flex-col company-section text-left company-title-section">
								<h4>Vector & Marketing Artist</h4>
								<p>Las Vegas, NV</p>
								<p>05/13 to 10/13</p>
							</div>
							<div class="flex-wrap flex-section flex-col company-section text-left">
								<h4>Responsibilities</h4>
								<p>Created vector UI assets, nine-sliced vector character art and exported assets for animation</p>
								<p>Assembled and polished interstitials and banners for Chartboost, Flurry, the App Store, and Facebook</p>
							</div>
							<div class="flex-wrap flex-align-left flex-col flex-section text-left company-section company-proj bg-cover bg-proj-small bg-proj-sunnyvillepetsalon">
								<h4 class="width-min-150">Sunnyville Pet Salon</h4>
								<div class="flex-wrap store-badge-wrap flex-justify-start">
									<a href="https://itunes.apple.com/us/app/sunnyville-pet-salon/id672362398?mt=8" target="_blank">
										<img class="store-badge" src="/images/app-store-badge.png" />
									</a>
								</div>
								<h4>My Pony</h4>
							</div>
						</div>

						<div class="banner dark-red">
							<p> Download:
								<span>
									<a href="#">
										<i class="fas fa-file-pdf"></i> PDF</a>
								</span>
								<span>
									<a href="#">
										<i class="fas fa-file-word"></i> DOCX</a>
								</span>
							</p>
						</div>
					</div>
				</div>

				<div id="about">
					<img class="section-header" src="/images/SectionHeaders/header_about.png" alt="About Me" />
					<div class="section-card">
						<div class="flex-wrap light-background flex-justify-even">
							<div class="company-section flex-col">
								<img class="circle-img bg-artist" src="/images/Sam.jpg">
							</div>
							<div class="flex-wrap flex-col company-section" style="max-width:835px;">
								<div class="speech-bubble flex-wrap flex-justify-center">
									<h5>My Elevator Pitch</h5>
									<p>I'm a UI/UX Designer with four years of experience specializing in game and app development. I focus on design process
										best practices, collaborate within and across teams, and bridge the gap between aesthetics and technology.</p>
								</div>
								<div class="speech-bubble flex-wrap flex-col flex-justify-center">
									<h5>Work Status</h5>
									<p>
										<strong>Actively looking for new roles.</strong>
									</p>
									<p>Please contact me about opportunities!</p>
									<p>
										<em>Open to freelance, contract, and fulltime positions</em>
									</p>
								</div>
								<div class="speech-bubble flex-wrap flex-col flex-align-center flex-justify-center">
									<h5>Reviews of My Work</h5>
									<a href="/about/reviews" class="btn-normal flex-wrap flex-align-center">
										<i class="far fa-file-alt"></i>
										<p>
											<strong>Read</strong>
										</p>
										<i class="fas fa-arrow-right"></i>
									</a>
								</div>
								<div class="flex-wrap">
									<div class="width-third speech-bubble med-background">
										<h5>Hobbies</h5>
										<div class="flex-wrap chip-wrap">
											<div class="chip">
												<div class="chip-tag">
													<i class="fas fa-pencil-alt"></i>
												</div>
												<div class="chip-body">Drawing</div>
											</div>
											<div class="chip">
												<div class="chip-tag">
													<i class="fas fa-heartbeat"></i>
												</div>
												<div class="chip-body">Walking</div>
											</div>
											<div class="chip">
												<div class="chip-tag">
													<i class="fas fa-utensils"></i>
												</div>
												<div class="chip-body">Cooking</div>
											</div>
											<div class="chip">
												<div class="chip-tag">
													<i class="fas fa-tv"></i>
												</div>
												<div class="chip-body">Anime & Cartoons</div>
											</div>
											<div class="chip">
												<div class="chip-tag">
													<i class="fas fa-chess"></i>
												</div>
												<div class="chip-body">Boardgames</div>
											</div>
											<div class="chip">
												<div class="chip-tag">
													<i class="fas fa-gamepad"></i>
												</div>
												<div class="chip-body">Videogames</div>
											</div>
											<div class="chip">
												<div class="chip-tag">
													<i class="fas fa-gamepad"></i>
												</div>
												<div class="chip-body">Competitive Smash</div>
											</div>
										</div>
									</div>
									<div class="flex-section flex-wrap flex-col speech-bubble med-background">
										<h5>Current Favorite Games</h5>
										<div class="flex-wrap chip-wrap">
											<div class="chip">
												<div class="chip-tag">
													<i class="fas fa-gamepad"></i>
												</div>
												<div class="chip-body">Clash Royale</div>
											</div>
											<div class="chip">
												<div class="chip-tag">
													<i class="fas fa-gamepad"></i>
												</div>
												<div class="chip-body">Stardew Valley</div>
											</div>
											<div class="chip">
												<div class="chip-tag">
													<i class="fas fa-gamepad"></i>
												</div>
												<div class="chip-body">Cuphead</div>
											</div>
											<div class="chip">
												<div class="chip-tag">
													<i class="fas fa-gamepad"></i>
												</div>
												<div class="chip-body">Civilization VI</div>
											</div>
											<div class="chip">
												<div class="chip-tag">
													<i class="fas fa-gamepad"></i>
												</div>
												<div class="chip-body">Breath of the Wild</div>
											</div>
											<div class="chip">
												<div class="chip-tag">
													<i class="fas fa-gamepad"></i>
												</div>
												<div class="chip-body">Super Smash Bros 4</div>
											</div>
											<div class="chip">
												<div class="chip-tag">
													<i class="fas fa-chess"></i>
												</div>
												<div class="chip-body">Betrayal at the House on the Hill</div>
											</div>
											<div class="chip">
												<div class="chip-tag">
													<i class="fas fa-chess"></i>
												</div>
												<div class="chip-body">Seven Wonders</div>
											</div>
											<div class="chip">
												<div class="chip-tag">
													<i class="fas fa-chess"></i>
												</div>
												<div class="chip-body">Sushi Go</div>
											</div>
											<div class="chip">
												<div class="chip-tag">
													<i class="fas fa-chess"></i>
												</div>
												<div class="chip-body">Epic Spell Wars</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

<% include ./partials/footer.ejs %>