<% include ./partials/header.ejs %>	

	<header class="header">
		<div>
			<img class="signature" src="/images/Signature.png"/>
		</div>
		<h1> Samantha Yeager </h1>
		<h2> UI/UX Designer</h2>
		<div class="nav">
			<div class="nav-item">
				<p>Projects</p>
			</div>
			<div class="nav-item">
				<p>Resume</p>
			</div>
			<div class="nav-item">
				<p>About Me</p>
			</div>
			<div class="nav-item">
				<p>Contact</p>
			</div>
		</div>
	</header>
	<div class="main">
		<div class="section-card">
			<img class="section-header" src ="/images/header_projects.png"/>
			<!-- <h3>Projects</h3> -->
			<div class="section-1 no-overflow main-proj">
				<h3>WildTangent Casino</h3>
				<img src="/images/WildTangentHeader.png"/>
				<img src="/images/WildTangentHeader.png"/>
				<img src="/images/WildTangentHeader.png"/>
				<img src="/images/WildTangentHeader.png"/>
				<img src="/images/WildTangentHeader.png"/>
			</div>
			<div class="flex-wrap">
				<div class="section-light section-2 no-overflow">
					<h3>Spell Slingers</h3>
					<img src="/images/WildTangentHeader.png"/>
				</div>
				<div class="section-light section-2 no-overflow">
					<h3>Stellar Fortune</h3>
					<img src="/images/WildTangentHeader.png"/>
				</div>
			</div>
		</div>
		<div class="section-full-dark">
			<img class="section-header" src ="/images/header_resume.png" alt="Resume"/>
			<div class="flex-wrap">
				<div class="section-dark section-3">
					<h3>Languages</h3>
					<div class="chip-wrap">
						<div class="chip">
							<div class="chip-tag tag-art">Markup</div>
							<div class="chip-body">HTML5</div>
							<!-- <div class="chip-tag tag-right tag-art"></div> -->
						</div>
						<div class="chip">
							<div class="chip-tag tag-art">Markup</div>
							<div class="chip-body">CSS3</div>
							<!-- <div class="chip-tag tag-right tag-art"></div> -->
						</div>
						<div class="chip">
							<div class="chip-tag tag-engine">Script</div>
							<div class="chip-body">Javascript ES6</div>
							<!-- <div class="chip-tag tag-right tag-engine"></div> -->

						</div>
					</div>
					<h4>Frameworks, Libraries, & Tools</h4>
					<div class="chip-wrap">
						<div class="chip">
							<div class="chip-tag tag-proto">Frame</div>
							<div class="chip-body">Express</div>
							<!-- <div class="chip-tag tag-right tag-art"></div> -->
						</div>
						<div class="chip">
							<div class="chip-tag tag-engine">Runtime Env</div>
							<div class="chip-body">Node.js</div>
							<!-- <div class="chip-tag tag-right tag-art"></div> -->
						</div>
					</div>
				</div>
				<div class="section-dark section-3">
					<h3>Software</h3>
					<div class="chip-wrap">
						<div class="chip">
							<div class="chip-tag tag-art">Art</div>
							<div class="chip-body">Adobe Photoshop</div>
							<!-- <div class="chip-tag tag-right tag-art"></div> -->
						</div>
						<div class="chip">
							<div class="chip-tag tag-art">Art</div>
							<div class="chip-body">Adobe Illustrator</div>
							<!-- <div class="chip-tag tag-right tag-art"></div> -->
						</div>
						<div class="chip">
							<div class="chip-tag tag-anim">Anim</div>
							<div class="chip-body">Adobe After Effects</div>
							<!-- <div class="chip-tag tag-right tag-anim"></div> -->
						</div>
						<div class="chip">
							<div class="chip-tag tag-proto">Proto</div>
							<div class="chip-body">Proto.io</div>
							<!-- <div class="chip-tag tag-right tag-proto"></div> -->
						</div>
						<div class="chip">
							<div class="chip-tag tag-engine">Game Engine</div>
							<div class="chip-body">Unity3D</div>
							<!-- <div class="chip-tag tag-right tag-proto"></div> -->
						</div>
						<div class="chip">
							<div class="chip-tag tag-org">Organize</div>
							<div class="chip-body">Trello</div>
							<!-- <div class="chip-tag tag-right tag-org"></div> -->
						</div>
						<div class="chip">
							<div class="chip-tag tag-ctrl">VCS</div>
							<div class="chip-body">Perforce</div>
							<!-- <div class="chip-tag tag-right tag-ctrl"></div> -->
						</div>
						<div class="chip">
							<div class="chip-tag tag-ctrl">VCS</div>
							<div class="chip-body">Git</div>
							<!-- <div class="chip-tag tag-right tag-ctrl"></div> -->
						</div>
					</div>
				</div>
				<div class="section-dark section-3">
					<h3>Education</h3>
					<ul>
						<li>
							Ohio University
							<ul>
								<li>B.S. in Digital Media: Games and Animation</li>
								<li>Minor in Computer Science</li>
								<li>Certificate in Chinese Language</li>
							</ul>
						</li>
						<li>
							Projects of Note
							<ul>
								<li>SunSat (2011), presented at ISDC 2011 in Huntsville</li>
								<li>SunSat (2012) presented at ISDC 2012 in Washington D.C.</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="section-1 section-dark margin">
				<h3>Work Experience</h3>
				<div class="section-dark margin flex-wrap">
					<h4 class="section-2">Cake Golem Productions, LLC. & Legacy Game Systems</h4>
					<div class="section-2">
						<p>Find it on the app store!</p>
					</div>
				</div>
				<div class="section-dark margin">
					<h4>WildTangent Studios</h4>
				</div>
				<div class="section-dark margin">
					<h4>Global Gaming Group (G3)</h4>
				</div>
				<div class="section-dark margin">
					<h4>Spin for Good</h4>
				</div>
				<div class="section-dark margin">
					<h4>Sunstorm Games</h4>
				</div>

			</div>
		</div>
		<div class="section-full-light end-margin">
			<img class="section-header" src ="/images/header_about.png" alt="Resume"/>
			<div class="section-light">
				<p>Open to freelance, contract, and fulltime positions</p>
			</div>
		</div>
	</div>


<!-- <div class="page-wrap">
	<div class="top-content">
		<img  id="brand-image" alt="Brand" src="./Images/Signature.png">
		<h1>Portfolio</h1>
	</div>

	<hr>

	<div class="all-projects">

		<div class="main-project">
			<h2>WildTangent Casino</h2>
			<div class="project-content">
			</div>
		</div>

		<div class="other-projects">
			<div class="project">
				<h2>Spell Slingers</h2>
				<div class="project-content">
				</div>
			</div>

			<div class="spacer"></div>

			<div class="project">
				<h2>Stellar Fortune</h2>
				<div class="project-content">
				</div>
			</div>	
		</div>
	</div>
</div> -->

<% include ./partials/footer.ejs %>