<% include ./partials/header.ejs %>	

<div class="grid">
	<header class="flex-col header">
		<div>
			<img class="signature" src="/images/Signature.png"/>
		</div>
		<h1 class="flex-wrap flex-center" style="padding: 0 50px;">Samantha Yeager</h1>
		<h2><em>UI / UX Designer</em></h2>
	</header>

	<% include ./partials/nav.ejs %>		

	<div class="main">
		<div id="projects">
			<img class="section-header" src ="/images/header_projects.png"/>
			<div class="section-card">
				<div class="flex-wrap proj-main no-overflow bg-cover bg-wildtangent-casino">
					<h3 class="title-card">WildTangent Casino</h3>
				</div>
				<div class="flex-wrap">
					<div class="flex-wrap flex-section proj-sub no-overflow bg-cover bg-spellslingers">
						<h3 class="title-card">Spell Slingers</h3>
					</div>
					<div class="flex-wrap flex-section proj-sub no-overflow bg-cover bg-stellarfortune">
						<h3 class="title-card">Stellar Fortune</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

<% include ./partials/footer.ejs %>