<% include ./partials/nav.ejs %>
<% include ./partials/header.ejs %>	
<% include ./partials/lightbox.ejs %>

    <div>
        <div id="projects" class="casino-bg" style="margin-bottom: 75px;">
            <div class="flex-wrap flex-justify-center">
                <div class="flex-wrap flex-col flex-justify-center flex-align-center">
                    <div class="secondary flex-wrap flex-col flex-align-center">
                        <img class="project-header opacity-33" src="/images/SectionHeaders/header_wildtangent_white.png" alt="WildTangent Casino Project"/>
                        <!-- <h3 class="title-card">WildTangent Casino</h3> -->
                        <img class="project-img left" src="/images/ProjectHeaders/wildtangent-casino-phones.png">
                        <div class="flex-wrap store-badge-wrap flex-justify-start flex-align-center">
                            <a href="https://play.google.com/store/apps/details?id=com.wildtangent.wildtangentcasino&hl=en" target="_blank">
                                <img class="store-badge" src="/images/google-play-badge.png" />
                            </a>
                            <a href="https://itunes.apple.com/us/app/wildtangent-casino-free-slots/id1039004412?mt=8" target="_blank">
                                <img class="store-badge" src="/images/app-store-badge.png" />
                            </a>
                        </div>
                    </div>
                    <a class="btn-normal margin-top-neg-100" href="/projects/wildtangent-casino">View</a>
                </div>
                <div class="flex-wrap flex-col flex-justify-center flex-align-center">
                    <img class="project-header" src="/images/SectionHeaders/header_spellslingers_white.png" alt="SpellSlingers Project" />
                    <!-- <h3 class="title-card">SpellSlingers</h3> -->
                    <img class="project-img" src="/images/ProjectHeaders/spellslingers-phone.png">
                    <div class="flex-wrap store-badge-wrap flex-justify-start">
                        <a href="http://legacygamesystems.com/our-demo-game-is-getting-a-makeover/" target="_blank" class="btn-badge flex-wrap flex-align-center">
                            <i class="fas fa-hourglass-half"></i>
                            <div class="flex-wrap flex-col flex-align-start">
                                <p class="btn-badge-first-p">Still in production</p>
                                <p>
                                    <strong>View Info</strong>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="flex-wrap flex-col flex-justify-center flex-align-center">
                    <div class="secondary flex-wrap flex-col flex-align-center">
                        <img class="project-header opacity-33" src="/images/SectionHeaders/header_stellarfortune_white.png" alt="Stellar Fortune Project"/>
                        <!-- <h3 class="title-card">Stellar Fortune</h3> -->
                        <img class="project-img" src="/images/ProjectHeaders/stellar-fortune-computer.png">
                        <div style="height:48.38;"></div>
                    </div>
                    <a class="btn-normal margin-top-neg-100" href="/projects/stellar-fortune">View</a>
                </div>
            </div>
        </div>
        <!-- <img class="project-header" src="/images/SectionHeaders/header_spellslingers.png" alt="SpellSlinger Project" />
        <div class="flex-wrap store-badge-wrap flex-justify-center" style="margin-bottom:25px">
            <a href="http://legacygamesystems.com/our-demo-game-is-getting-a-makeover/" target="_blank" class="btn-badge flex-wrap flex-align-center">
                <i class="fas fa-hourglass-half"></i>
                <div class="flex-wrap flex-col flex-align-start">
                    <p class="btn-badge-first-p">Still in production</p>
                    <p>
                        <strong>View Info</strong>
                    </p>
                </div>
            </a>
        </div> -->
        <div class="section-card light-background">
            <div class="gallery-grid">
                <div class="gallery-sizer"></div>
                <div class="gutter-sizer"></div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_SpellSlingers/Final/FactionDuelScreens.jpg" alt="Four Themed Faction Duel Screens" />
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_SpellSlingers/Final/FactionSymbols.jpg" alt="Different rendering levels for the six faction symbols" />
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_SpellSlingers/Final/Unity_Menus.jpg" alt="Unity screens, including menus and one faction screen" />
                    </div>
                </div>
            </div>
        </div>
        <img class="section-header" src="/images/SectionHeaders/header_working.png" alt="Working Images" />
        <div class="section-card light-background">
            <div class="gallery-grid">
                <div class="gallery-sizer"></div>
                <div class="gutter-sizer"></div>
                <div class="gallery-item gallery-item-width-4">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages//Images_SpellSlingers/Dev/FlowChart.jpg" alt="SpellSlingers UX flowchart" />
                    </div>
                </div>
                <div class="gallery-item">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_SpellSlingers/Dev/2.jpg" alt="Prototype login screen"/>
                    </div>
                </div>
                <div class="gallery-item">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_SpellSlingers/Dev/4.jpg" alt="Prototype main menu"/>
                    </div>
                </div>
                <div class="gallery-item">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_SpellSlingers/Dev/5.jpg" alt="Prototype Duel Story" />
                    </div>
                </div>
                <div class="gallery-item">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_SpellSlingers/Dev/6.jpg" alt="Prototype join duel screen" />
                    </div>
                </div>
                <div class="gallery-item">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_SpellSlingers/Dev/7.jpg" alt="Prototype duel results screen"
                        />
                    </div>
                </div>
                <div class="gallery-item">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_SpellSlingers/Dev/8.jpg" alt="Prototype duel stats screen" />
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-4">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_SpellSlingers/Dev/Mockup_Wyrddin.jpg" alt="Viual development for Wyrddin Way faction duel screen">
                    </div>
                </div>
            </div>
        </div>
        <div class="section-card casino-bg flex-wrap flex-col flex-align-center" style="margin-top: 150px;">
            <div class="banner banner-reverse dark-red" style="width:100%;">
                <h4>Design Brief</h4>
            </div>
            <div class="flex-wrap flex-col brief-section flex-align-center">
                <p>
                    <em>Legacy Game Systems needs a new Wizard-themed AR game to add to their library of AR LARPing games. One field-tested screen
                    exists - improve its visuals and design all the other screens around it.</em>
                </p>
                <h4>Role</h4>
                <ul>
                    <li>Remote UX designer and visual designer for Cake Golem Productions, LLC, a small studio contracting out work for a client</li>
                    <li>Hired only for visuals, but evangelized the benefits of wireframing and prototyping</li>
                    <li>Assembled preliminary screens in Unity</li>
                </ul>
            </div>
            <div class="flex-wrap flex-col">
                <h4>Challenges and Successes</h4>
                <div class="flex-wrap">
                    <div class="flex-section inset-section light-background">
                        <h5 class="banner banner-reverse dark-background" style="margin-top:0;">Challenge: Working Remotely</h5>
                        <h5>Solution:</h5>
                        <ul>
                            <li>Kept a consistent working schedule</li>
                            <li>Prioritized communication
                                <ul>
                                    <li>sent a daily planning email in the morning</li>
                                    <li>sent a daily wrap-up email after working, with updates and questions</li>
                                    <li>sent screenshots of partially finished work and put completed work on Google Drive</li>
                                    <li>simplified communication: I talked only with Cake Golem, who relayed info to and from their client</li>
                                </ul>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include ./partials/footer.ejs %>