<% include ./partials/nav.ejs %>
<% include ./partials/header.ejs %>	

    <div>
        <img class="section-header" src ="/images/SectionHeaders/header_reviews.png" alt="Reviews of Sam Yeager's work"/>
        <div class="flex-wrap flex-col no-overflow">
            <div class="flex-wrap company flex-align-center flex-justify-center">
                <p>PROJ WT CASINO</p>
            </div>
        </div>
    </div>

<% include ./partials/footer.ejs %>