<% include ./partials/nav.ejs %>
<% include ./partials/header.ejs %>	

<div>
    <img class="project-header" src="/images/SectionHeaders/header_spellslingers.png" alt="SpellSlinger Project" />
    <div class="flex-wrap store-badge-wrap flex-justify-center" style="margin-bottom:25px">
        <a href="http://legacygamesystems.com/our-demo-game-is-getting-a-makeover/" target="_blank" class="btn-badge flex-wrap flex-align-center">
            <i class="fas fa-hourglass-half"></i>
            <div class="flex-wrap flex-col flex-align-start">
                <p class="btn-badge-first-p">Still in production</p>
                <p>
                    <strong>View Info</strong>
                </p>
            </div>
        </a>
    </div>
    <div class="section-card light-background">
        <div class="gallery-grid">
            <div class="gallery-sizer"></div>
            <div class="gutter-sizer"></div>
            <div class="gallery-item gallery-item-width-2">
                <div class="project-img">
                    <img src="/images/ProjectImages/Images_SpellSlingers/Final/FactionDuelScreens.jpg" alt="Four Themed Faction Duel Screens" />
                </div>
            </div>
            <div class="gallery-item">
                <div class="project-img">
                    <img src="/images/ProjectImages/Images_SpellSlingers/Final/FactionSymbols.jpg" alt="Different rendering levels for the six faction symbols" />
                </div>
            </div>
            <div class="gallery-item">
                <div class="project-img">
                    <img src="/images/ProjectImages/Images_SpellSlingers/Final/Unity_Menus.jpg" alt="Unity screens, including menus and one faction screen" />
                </div>
            </div>
        </div>
    </div>
    <img class="section-header" src="/images/SectionHeaders/header_working.png" alt="Working Images" />
    <div class="section-card light-background">
        <div class="gallery-grid">
            <div class="gallery-sizer"></div>
            <div class="gutter-sizer"></div>
            <div class="gallery-item gallery-item-width-3">
                <div class="project-img">
                    <img src="/images/ProjectImages//Images_SpellSlingers/Dev/FlowChart.jpg" alt="SpellSlingers UX flowchart" />
                </div>
            </div>
            <div class="gallery-item">
                <div class="project-img">
                    <img src="/images/ProjectImages/Images_SpellSlingers/Dev/2.jpg" alt="Prototype login screen"/>
                </div>
            </div>
            <div class="gallery-item">
                <div class="project-img">
                    <img src="/images/ProjectImages/Images_SpellSlingers/Dev/4.jpg" alt="Prototype main menu"/>
                </div>
            </div>
            <div class="gallery-item">
                <div class="project-img">
                    <img src="/images/ProjectImages/Images_SpellSlingers/Dev/5.jpg" alt="Prototype Duel Story" />
                </div>
            </div>
            <div class="gallery-item">
                <div class="project-img">
                    <img src="/images/ProjectImages/Images_SpellSlingers/Dev/6.jpg" alt="Prototype join duel screen" />
                </div>
            </div>
            <div class="gallery-item">
                <div class="project-img">
                    <img src="/images/ProjectImages/Images_SpellSlingers/Dev/7.jpg" alt="Prototype duel results screen"
                    />
                </div>
            </div>
            <div class="gallery-item">
                <div class="project-img">
                    <img src="/images/ProjectImages/Images_SpellSlingers/Dev/8.jpg" alt="Prototype duel stats screen" />
                </div>
            </div>
            <div class="gallery-item gallery-item-width-3">
                <div class="project-img">
                    <img src="/images/ProjectImages/Images_SpellSlingers/Dev/Mockup_Wyrddin.jpg" alt="Viual development for Wyrddin Way faction duel screen">
                </div>
            </div>
        </div>
    </div>
    <div class="section-card light-background flex-wrap flex-col flex-align-center" style="margin-top: 150px;">
        <div class="banner dark-red" style="width:100%;">
            <h4>Design Brief</h4>
        </div>
        <div class="flex-wrap flex-col company-section flex-align-center" style="width:50%;">
            <p>
                <em>Legacy Game Systems needs a new Wizard-themed AR game to add to their library of AR LARPing games. One field-tested screen
                exists - improve its visuals and design all the other screens around it.</em>
            </p>
            <h4>Role</h4>
            <ul>
                <li>Remote UX designer and visual designer for Cake Golem Productions, LLC, a small studio contracting out work for a client</li>
                <li>Hired only for visuals, but evangelized the benefits of wireframing and prototyping</li>
                <li>Assembled preliminary screens in Unity</li>
            </ul>
        </div>
        <div class="flex-wrap flex-col">
            <h4>Challenges and Successes</h4>
            <div class="flex-wrap">
                <div class="flex-section inset-section-light med-background">
                    <h5 class="banner banner-reverse dark-background" style="margin-top:0;">Challenge: Working Remotely</h5>
                    <h5>Solution:</h5>
                    <ul>
                        <li>Kept a consistent working schedule</li>
                        <li>Prioritized communication
                            <ul>
                                <li>sent a daily planning email in the morning</li>
                                <li>sent a daily wrap-up email after working, with updates and questions</li>
                                <li>sent screenshots of partially finished work and put completed work on Google Drive</li>
                                <li>simplified communication: I talked only with Cake Golem, who relayed info to and from their client</li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>