<% include ./partials/nav.ejs %>
<% include ./partials/header.ejs %>
<% include ./partials/lightbox.ejs %>

    <div>
        <img class="project-header" src="/images/SectionHeaders/header_stellarfortune.png" alt="Stellar Fortune Project" />
        <div class="section-card light-background">
            <div class="gallery-grid">
                <div class="gallery-sizer"></div>
                <div class="gutter-sizer"></div>
                <div class="gallery-item gallery-item-width-4">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_StellarFortune/sf_topglass.jpg" alt="Steller Fortune top glass"/>
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-4">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_StellarFortune/sf_fs_vwildbonus.jpg" alt="Playscreen, robot wild edition"/>
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_StellarFortune/SamWilliamsArtTest_FixUp.jpg" alt="'Star Bucks' Logo / Inspiration for Stellar Fortune"/>
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_StellarFortune/sf_2ndscreenbonus.jpg" alt="Stellar Fortune second-screen pirate treasure bonus"/>
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_StellarFortune/SF_Syms.jpg" alt="Stellar Fortune symbols"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-card light-background"  style="margin-top: 150px; padding: 50px 0;">
            <div class="wrapper">
                <iframe src="https://player.vimeo.com/video/141634963" width="1152" height="648" frameborder="0" webkitallowfullscreen mozallowfullscreen
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="section-card light-background flex-wrap flex-col flex-align-center" style="margin-top: 150px;">
        <div class="banner banner-reverse dark-red" style="width:100%;">
            <h4>Design Brief</h4>
        </div>
        <div class="flex-wrap flex-col brief-section flex-align-center">
            <p>
                <em>Global Gaming Group needs a space-themed slot to fill out its backlog. Direction: A retro-space rag tag team of adventurers
                gather treasure and fight pirates.</em>
            </p>
            <h4>Role</h4>
            <ul>
                <li>Sole artist</li>
                <li>Iterated with feedback from my Art Director Steve Childs​</li>
            </ul>
        </div>
        <div class="flex-wrap flex-col">
            <h4>Challenges and Successes</h4>
            <div class="flex-wrap">
                <div class="flex-section inset-section-light med-background">
                    <h5 class="banner banner-reverse dark-background" style="margin-top:0;">Challenge: Hitting a Specific Aesthetic</h5>
                    <h5>Solution:</h5>
                    <ul>
                        <li>Copious Research
                            <ul>
                                <li>Search the web for important keywords</li>
                                <li>Gather targeted reference images</li>
                                <li>Make design documents or mockups listing:
                                    <ul>
                                        <li>Shape language</li>
                                        <li>Colors</li>
                                        <li>Textures, if any</li>
                                        <li>Special effects</li>
                                        <li>Any specific markers of the style</li>
                                        <li>Use cliches to your advantage</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<% include ./partials/footer.ejs %>