<% include ./partials/nav.ejs %>
<% include ./partials/header.ejs %>	
<% include ./partials/lightbox.ejs %>

    <div>
        <div id="projects" class="casino-bg" style="margin-bottom: 75px;">
            <div class="flex-wrap flex-justify-center">
                <div class="flex-wrap flex-col flex-justify-center flex-align-center">
                    <img class="project-header" src="/images/SectionHeaders/header_wildtangent_white.png" alt="WildTangent Casino Project" />
                    <!-- <h3 class="title-card">WildTangent Casino</h3> -->
                    <img class="project-img left" src="/images/ProjectHeaders/wildtangent-casino-phones.png">
                    <div class="flex-wrap store-badge-wrap flex-justify-start flex-align-center">
                        <a href="https://play.google.com/store/apps/details?id=com.wildtangent.wildtangentcasino&hl=en" target="_blank">
                            <img class="store-badge" src="/images/google-play-badge.png" />
                        </a>
                        <a href="https://itunes.apple.com/us/app/wildtangent-casino-free-slots/id1039004412?mt=8" target="_blank">
                            <img class="store-badge" src="/images/app-store-badge.png" />
                        </a>
                    </div>
                </div>
                <div class="flex-wrap flex-col flex-justify-center flex-align-center">
                    <div class="secondary flex-wrap flex-col flex-align-center">
                        <img class="project-header opacity-33" src="/images/SectionHeaders/header_spellslingers_white.png" alt="SpellSlingers Project" />
                        <!-- <h3 class="title-card">SpellSlingers</h3> -->
                        <img class="project-img" src="/images/ProjectHeaders/spellslingers-phone.png">
                        <div class="flex-wrap store-badge-wrap flex-justify-start">
                            <a href="http://legacygamesystems.com/our-demo-game-is-getting-a-makeover/" target="_blank" class="btn-badge flex-wrap flex-align-center">
                                <i class="fas fa-hourglass-half"></i>
                                <div class="flex-wrap flex-col flex-align-start">
                                    <p class="btn-badge-first-p">Still in production</p>
                                    <p>
                                        <strong>View Info</strong>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <a class="btn-normal" href="/projects/spell-slingers" style="margin-top:-100px;">View</a>
                </div>
                <div class="flex-wrap flex-col flex-justify-center flex-align-center">
                    <div class="secondary flex-wrap flex-col flex-align-center">
                        <img class="project-header opacity-33" src="/images/SectionHeaders/header_stellarfortune_white.png" alt="Stellar Fortune Project" />
                        <!-- <h3 class="title-card">Stellar Fortune</h3> -->
                        <img class="project-img" src="/images/ProjectHeaders/stellar-fortune-computer.png">
                        <div style="height:48.38;"></div>
                    </div>
                    <a class="btn-normal" href="/projects/stellar-fortune" style="margin-top:-100px;">View</a>
                </div>
            </div>
        </div>
        <!-- <img class="project-header" src ="/images/SectionHeaders/header_wildtangent.png" alt="WildTangent Casino Project"/> -->
        <!-- <div class="flex-wrap store-badge-wrap flex-justify-center flex-align-center" style="margin-bottom:25px;"> 
            <a href="https://play.google.com/store/apps/details?id=com.wildtangent.wildtangentcasino&hl=en" target="_blank">
                <img class="store-badge" src="/images/google-play-badge.png" />
            </a>
            <a href="https://itunes.apple.com/us/app/wildtangent-casino-free-slots/id1039004412?mt=8" target="_blank">
                <img class="store-badge" src="/images/app-store-badge.png" />
            </a>
        </div> -->
        <div class="section-card light-background">
            <div class="gallery-grid">
                <div class="gallery-sizer"></div>
                <div class="gutter-sizer"></div>
                <div class="gallery-item gallery-item-width-4">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Final/CasinoHostess.jpg" alt="Casino Hostess Character" />
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Final/LobbyTiles.jpg" alt="Lobby Tiles for Super Sevens and Polar Bowler" />
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-4">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Final/PolarBowler_playscreen.jpg" alt="Polar Bowler Play Screen" />
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Final/PolarBowler_sympage.jpg" alt="Polar Bowler Symbols" />
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Final/PolarBowler_freespins.jpg" alt="Polar Bowler Free Spins Screen" />
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Final/PolarBowler_bonusgame.jpg" alt="Polar Bowler Bonus Screen" />
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-4">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Final/SuperSevens_playscreen.jpg" alt="Super Sevens Play Screen" />
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Final/PolarBowler_dialogs.jpg" alt="Polar Bowler Unity Dialogs" />
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Final/SuperSevens_sympage.jpg" alt="Super Sevens Symbols" />
                    </div>
                </div>
            </div>
        </div>
        <img class="section-header" src ="/images/SectionHeaders/header_working.png" alt="Working Images"/>
        <div class="section-card light-background">
            <div class="gallery-grid">
                <div class="gallery-sizer"></div>
                <div class="gutter-sizer"></div>
                <div class="gallery-item gallery-item-width-4">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Dev/PolarBowler_LobbyTile_Dev.jpg" alt="Polar Bowler Lobby Tile Development"/>
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Dev/PolarBowler_Dev_playscreen.jpg" alt="Polar Bowler Play Screen Development"/>
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Dev/PolarBowler_Sympage_Thumbs.jpg" alt="Polar Bowler Symbol Thumbnails"/>
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-4">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Dev/PolarBowler_SymbolStyle.jpg" alt="Polar Bowler Symbol Style Development" />
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Dev/PolarBowler_FS_Dev.jpg" alt="Polar Bowler Free Spins storyboard"/>
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Dev/PolarBowler_Dev_playscreen.jpg" alt="Polar Bowler Play Screen Development"
                        />
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Dev/PolarBowler_Dev_Bonus.jpg" alt="Polar Bowler Bonus Game Storyboard"/>
                    </div>
                </div>

                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Dev/SuperSevens_Dev_ReelPlacement.jpg" alt="Super Sevens Play Screen Development"/>
                    </div>
                </div>
                <div class="gallery-item gallery-item-width-2">
                    <div class="gallery-img">
                        <img class="zoomable" src="/images/ProjectImages/Images_WildTangentCasino/Dev/SuperSevens_Dev_Symbols.jpg" alt="Black and White Super Sevens Symbol Development"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-card casino-bg flex-wrap flex-col flex-align-center" style="margin-top: 150px;">
            <div class="banner banner-reverse dark-red" style="width:100%;">
                <h4>Design Brief</h4>
            </div>
            <div class="flex-wrap flex-col brief-section flex-align-center">
                <p><em>WildTangent Casino needed two shiny new slot games to draw in new players. Required: one in a Vegas 7's theme and one in
                    a Polar Bowler (WildTangent's IP) theme.</em></p>
                <h4>Role</h4>
                <ul>
                    <li>Slot specialist; thoroughly understood slot development pipeline from 2 years of experience in Las Vegas</li>
                    <li>1 of 4 artists in the studio, but worked solo on my 2 projects</li>
                    <li>Iterated with feedback from my Art Director Julian Jauregui</li>
                    <li>Built and animated the UI in Unity with my partner developer, Jacob Gulotta</li>
                </ul>
            </div>
            <div class="flex-wrap flex-col">
                <h4>Challenges and Successes</h4>
                <div class="flex-wrap">
                    <div class="flex-section inset-section light-background">
                        <h5 class="banner banner-reverse dark-background" style="margin-top:0;">Challenge: Working with IP</h5>
                        <h5>Solution:</h5>
                        <ul>
                            <li>Conduct research on the IP's existing games</li>
                            <li>Compile important style and theme elements</li>
                            <li>Incorporate those elements into the new game</li>
                            <li>Review progress with stakeholders</li>
                            <li>Iterate with stakeholder feedback</li>
                        </ul>
                    </div>
                    <div class="flex-section inset-section light-background">
                        <h5 class="banner banner-reverse dark-background" style="margin-top:0;">Challenge: Working in a live project undergoing a lot of changes</h5>
                        <h5>Solution:</h5>
                        <ul>
                            <li>Stay organized</li>
                            <li>Take detailed notes of new goals and tasks</li>
                            <li>Prioritize attention to detail</li>
                            <li>Keep old and new assets aligned with current goals</li>
                            <li>Ask questions and communicate to make sure I am understanding the project requirements</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include ./partials/footer.ejs %>