<% include ./partials/header.ejs %>	
<% include ./partials/nav.ejs %>

<div class="grid">
    <header class="flex-col header">
        <div>
            <img class="signature" src="/images/Signature.png"/>
        </div>
        <h1 class="flex-wrap flex-justify-center" style="padding: 0 50px;">Samantha Yeager</h1>
        <h2><em>UI / UX Designer</em></h2>
    </header>

    <div>
        <img class="section-header" src ="/images/SectionHeaders/header_reviews.png" alt="Reviews of Sam Yeager's work"/>
        <div class="flex-wrap flex-col no-overflow">
            <div class="flex-wrap company flex-align-center flex-justify-center">
                <p>PROJ WT CASINO</p>
            </div>
        </div>
    </div>

<% include ./partials/footer.ejs %>