<% include ./partials/nav.ejs %>
<% include ./partials/header.ejs %>	

    <div>
        <img class="section-header" src ="/images/SectionHeaders/header_wildtangent.png" alt="Reviews of Sam Yeager's work"/>
        <div class="flex-wrap flex-col section-card">
            <div class="flex-wrap company  flex-align-center flex-justify-center">
                <div class="flex-wrap flex-align-start flex-justify-center">
                    <div class="project-img width-two-thirds">
                        <img src="/images/Images_WildTangentCasino/Final/CasinoHostess.png" alt="Casino Hostess Character"/>
                    </div>
                    <div class="project-img width-third">
                        <img src="/images/Images_WildTangentCasino/Final/LobbyTiles.png" alt="Lobby Tiles for Super Sevens and Polar Bowler"/>
                    </div>
                    <div class="project-img width-third">
                        <img src="/images/Images_WildTangentCasino/Final/PolarBowler_playscreen.png" alt="Polar Bowler Play Screen"/>
                    </div>
                    <div class="project-img width-third">
                        <img src="/images/Images_WildTangentCasino/Final/PolarBowler_sympage.png" alt="Polar Bowler Symbols"/>
                    </div>
                    <div class="project-img width-third">
                        <img src="/images/Images_WildTangentCasino/Final/PolarBowler_freespins.png" alt="Polar Bowler Free Spins Screen"/>
                    </div>
                    <div class="project-img">
                        <img src="/images/Images_WildTangentCasino/Final/PolarBowler_bonusgame.png" alt="Polar Bowler Bonus Screen"/>
                    </div>
                    <div class="project-img width-third">
                        <img src="/images/Images_WildTangentCasino/Final/PolarBowler_dialogs.png" alt="Polar Bowler Unity Dialogs"/>
                    </div>
                    <div class="project-img width-third">
                        <img src="/images/Images_WildTangentCasino/Final/SuperSevens_playscreen.png" alt="Super Sevens Play Screen"/>
                    </div>
                    <div class="project-img width-third">
                        <img src="/images/Images_WildTangentCasino/Final/SuperSevens_sympage.png" alt="Super Sevens Symbols"/>
                    </div>
                </div>
            </div>
        </div>
        <img class="section-header" src ="/images/SectionHeaders/header_working.png" alt="Reviews of Sam Yeager's work"/>
        <div class="flex-wrap flex-col section-card">
            <div class="flex-wrap company flex-align-center flex-justify-center">
                <div class="flex-wrap flex-col flex-align-start">
                    <div class="project-img">
                        <img src="/images/Images_WildTangentCasino/Dev/PolarBowler_LobbyTile_Dev.png" alt="Polar Bowler Lobby Tile Development" />
                    </div>
                    <div class="project-img">
                        <img src="/images/Images_WildTangentCasino/Dev/PolarBowler_Dev_playscreen.png" alt="Polar Bowler Play Screen Development"
                        />
                    </div>
                    <div class="project-img">
                        <img src="/images/Images_WildTangentCasino/Dev/PolarBowler_Sympage_Thumbs.png" alt="Polar Bowler Symbol Thumbnails"
                        />
                    </div>
                    <div class="project-img">
                        <img src="/images/Images_WildTangentCasino/Dev/PolarBowler_Sympage_Dev.png" alt="Black and White Polar Bowler Symbol Development"
                        />
                    </div>
                    <div class="project-img">
                        <img src="/images/Images_WildTangentCasino/Dev/PolarBowler_SymbolStyle.png" alt="Polar Bowler Symbol Rendering Style Development"
                        />
                    </div>
                    <div class="project-img">
                        <img src="/images/Images_WildTangentCasino/Dev/PolarBowler_FS_Dev.png" alt="Polar Bowler Free Spins Development"
                        />
                    </div>
                    <div class="project-img">
                        <img src="/images/Images_WildTangentCasino/Dev/PolarBowler_Dev_Bonus.png" alt="Polar Bowler Bonus Game Storyboard"
                        />
                    </div>
                    <div class="project-img">
                        <img src="/images/Images_WildTangentCasino/Dev/SuperSevens_Dev_ReelPlacement.png" alt="Super Sevens Play Screen Development"
                        />
                    </div>
                    <div class="project-img">
                        <img src="/images/Images_WildTangentCasino/Dev/SuperSevens_Dev_Symbols.png" alt="Black and White Super Sevens Symbol Development"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="section-card light-background flex-wrap flex-col flex-align-center" style="margin-top: 150px;">
            <div class="banner med-background" style="width:100%;">
                <h4>Design Brief</h4>
            </div>
            <div class="flex-wrap flex-col company-section flex-align-center" style="width:50%;">
                <p><em>WildTangent Casino needed two shiny new slot games to draw in new players. Required: one in a Vegas 7's theme and one in
                    a Polar Bowler (WildTangent's IP) theme.</em></p>
                <h4>Role</h4>
                <ul>
                    <li>Slot specialist; thoroughly understood slot development pipeline from 2 years of experience in Las Vegas</li>
                    <li>1 of 4 artists in the studio, but worked solo on my 2 projects</li>
                    <li>Iterated with feedback from my Art Director Julian Jauregui</li>
                    <li>Built and animated the UI in Unity with my partner developer, Jacob Gulotta</li>
                </ul>
            </div>
            <div class="flex-wrap flex-col">
                <h4>Challenges and Successes</h4>
                <div class="flex-wrap">
                    <div class="flex-section inset-section-light med-background">
                        <h5 class="banner banner-reverse dark-background" style="margin-top:0;">Challenge: Working with IP</h5>
                        <h5>Solution:</h5>
                        <ul>
                            <li>Conduct research on the IP's existing games</li>
                            <li>Compile important style and theme elements</li>
                            <li>Incorporate those elements into the new game</li>
                            <li>Review progress with stakeholders</li>
                            <li>Iterate with stakeholder feedback</li>
                        </ul>
                    </div>
                    <div class="flex-section inset-section-light med-background">
                        <h5 class="banner banner-reverse dark-background" style="margin-top:0;">Challenge: Working in a live project undergoing a lot of changes</h5>
                        <h5>Solution:</h5>
                        <ul>
                            <li>Stay organized</li>
                            <li>Take detailed notes of new goals and tasks</li>
                            <li>Prioritize attention to detail</li>
                            <li>Keep old and new assets aligned with current goals</li>
                            <li>Ask questions and communicate to make sure I am understanding the project requirements</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include ./partials/footer.ejs %>