<% include ./partials/header.ejs %>	
<% include ./partials/nav.ejs %>

<div class="grid">
    <header class="flex-col header">
        <div>
            <img class="signature" src="/images/Signature.png"/>
        </div>
        <h1 class="flex-wrap flex-justify-center" style="padding: 0 50px;">Samantha Yeager</h1>
        <h2><em>UI / UX Designer</em></h2>
    </header>

    <div id="reviews">
        <img class="section-header" src ="/images/SectionHeaders/header_reviews.png" alt="Reviews"/>
        <div class="pink-background" style="padding-top:50px;">
            <h4>Check out what my coworkers, clients, and managers have to say about me and my work!</h4>
            <div class="flex-wrap flex-justify-center">
                <div class="flex-section company-section review flex-wrap flex-col flex-align-center flex-justify-center">
                    <p>Sam was, from the very beginning, a true professional. I hired her to help
                        develop a mobile game user interface, and she was always organized, communicative, and
                        on-time with her delivery. I never had to worry that the work would be done. Sam was very good
                        about keeping me updated throughout the project, and I always felt comfortable giving her some
                        direction and allowing her to work on her own.</p>
                    <h4>- Kristin Brumley, <em>Owner at Cake Golem Productions, LLC</em></h4>
                    <a class="toggle btn-normal">See full review</a>
                </div>
                <object class="target hidden" data="/documents/review_kristin-brumley_cake-golem.pdf" type="application/pdf" width="612" height="825">
                    alt : <a href="/documents/review_kristin-brumley_cake-golem.pdf">Kristin Brumley's Review</a>
                </object>
                <div class="flex-section company-section review flex-wrap flex-col flex-align-center flex-justify-center">
                    <p>Sam came to Summit’s attention in the best way… by referral from the trusted source of a
                        trusted source. [...] Could she deliver what we needed, on time and on our budget? Yup. 
                        Turns out she could, and did. It’s my suspicion that given the chance, she’d most certainly 
                        be able to do that for you, too.</p>
                    <h4>- Mike Cohn, <em>CEO at Summit Business Technologies</em></h4>
                    <a class="toggle btn-normal">See full review</a>
                </div>
                <object class="target hidden"data="/documents/review_mike-cohn_summit-biz.pdf" type="application/pdf" width="612" height="825">
                    alt : <a href="/documents/review_mike-cohn_summit-biz.pdf">Mike Cohn's Review</a>
                </object>
                <div class="company-section review flex-wrap flex-col flex-align-center flex-justify-center">
                    <p>[Samantha's] art was also inspiring, as some designs would 
                        lead to new ideas, ideas that she was already thinking about. She knew the tech side of creating art (file 
                        size, game performance, etc) and showed game design prowess by making sure certain elements stood out and/or 
                        easy to comprehend.</p>
                    <h4>- Rick Kolesar, <em>Game Designer at WildTangent Studios</em></h4>
                    <a class="toggle btn-normal">See full review</a>
                    <div class="target hidden">
                            <p>Samantha was able to create the type of art & style that we needed for our projects and studio. Not only 
                                did she get her tasks done on time, her art barely needed a 2nd or 3rd pass; she was able to take very 
                                little directions and create exactly what was needed.  Her art was also inspiring, as some designs would 
                                lead to new ideas, ideas that she was already thinking about. She knew the tech side of creating art 
                                (file size, game performance, etc) and showed game design prowess by making sure certain elements stood 
                                out and/or easy to comprehend.</p>
                            <p>Samantha is also a good person to be around and to work with.  She became part of the team quickly, taking 
                                direction while also giving back her thoughts on anything from art to game design.  She shares ideas, 
                                processes, and is just fun to be around.  I look forward to working with her again.</p>
                    </div>
                </div>
                <div class="company-section review flex-wrap flex-col flex-align-center flex-justify-center">
                    <p>Sam is an awesome coworker. She is great at both execution and problem solving. Not only did she been a key 
                        player on our team, but she’s also become a close friend. Sam’s skills and leadership qualities would make her 
                        an invaluable addition to any team or contract.</p>
                    <h4>- Teo Acosta, <em>UI/UX Artist at WildTangent Studios</em></h4>
                </div>
                <div class="company-section review flex-wrap flex-col flex-align-center flex-justify-center">
                    <p>Samantha is incredibly creative artisitcally. She learned all the graphic software easily, and 
                        created high quality content. Sam was a natural fit on the team from the start. She got along 
                        great with everyone, and her comic timing is on point.</p>
                    <h4>- Allen Manning, <em>Senior Graphic Designer at Global Gaming Group</em></h4>
                </div>
                <div class="company-section review flex-wrap flex-col flex-align-center flex-justify-center">
                    <p>Working with Sam was a pure joy. She brought a positive attitude and a strong work ethic to the
                            Sunstorm team. Sam is an extremely talented and creative individual with a diverse set of skills 
                            -- a combo that easily brought her to the forefront on many projects. Additionally, she is a strong, 
                            supportive team member on collaborative efforts. Sam would be a wonderful addition to any creative team.</p>
                    <h4>- Diona Linardo, <em>Principal Artist at Sunstorm Games</em></h4>
                </div>
                
                
            </div>
        </div>
    </div>

<% include ./partials/footer.ejs %>