<% include ./partials/nav.ejs %>
<% include ./partials/header.ejs %>	

    <div id="reviews">
        <img class="section-header" src ="/images/SectionHeaders/header_reviews.png" alt="Reviews"/>
        <h4 class="banner-red"></h4>
        <div class="light-background" style="padding-top:50px; margin-top:-50px;">
            <div>
                <div class="flex-wrap flex-section company-section review flex-align-center">
                    <div class="speech-bubble flex-wrap flex-justify-center">
                        <p>"I had the incredible pleasure of working with Samantha Yeager on a contractual basis for several months.
                            Sam was, from the very beginning, a true professional. [S]he was always organized, communicative, and
                            on-time with her delivery. [She] delivered top-quality artwork. I loved having her work for me! I truly 
                            wish I could hire her full time."</p>
                        <a class="toggle btn-normal">See full review</a>
                    </div>
                    <div class="flex-wrap flex-col flex-align-center width-max-275 padding-25">
                        <img class="circle-img" src="/images/Reviewers/CakeGolem.jpg">
                        <h4>Kristin Brumley</h4>
                        <h5><em>Owner, Cake Golem Productions</em></h5>
                    </div>
                    <div class="speech-bubble target hidden" style="width: 100%;"> 
                        <object data="/documents/review_kristin-brumley_cake-golem.pdf" type="application/pdf" width="918" height="825">
                            alt : <a href="/documents/review_kristin-brumley_cake-golem.pdf">Kristin Brumley's Review</a>
                        </object>
                    </div>
                </div>


                <div class="flex-wrap flex-section company-section review flex-align-center">
                    <div class="speech-bubble flex-wrap flex-justify-center">
                        <p>Sam came to Summit’s attention in the best way… by referral from the trusted source of a
                            trusted source. [...] Could she deliver what we needed, on time and on our budget? Yup. 
                            Turns out she could, and did. It’s my suspicion that given the chance, she’d most certainly 
                            be able to do that for you, too.</p>
                        <a class="toggle btn-normal">See full review</a>
                    </div>
                    <div class="flex-wrap flex-col flex-align-center width-max-275 padding-25">
                        <img class="circle-img" src="/images/Reviewers/SummitBiz.png">
                        <h4>Mike Cohn</h4>
                        <h5><em>CEO, Summit Business Technologies</em></h5>
                    </div>
                </div>
                <object class="target hidden" data="/documents/review_mike-cohn_summit-biz.pdf" type="application/pdf" width="612" height="825">
                    alt : <a href="/documents/review_mike-cohn_summit-biz.pdf">Mike Cohn's Review</a>
                </object>

                <div class="flex-wrap flex-section company-section review flex-align-center">
                    <div class="speech-bubble flex-wrap flex-justify-center">
                        <p>"[Samantha's] art was also inspiring, as some designs would 
                            lead to new ideas, ideas that she was already thinking about. She knew the tech side of creating art (file 
                            size, game performance, etc) and showed game design prowess by making sure certain elements stood out and/or 
                            easy to comprehend."</p>
                        <a class="toggle btn-normal">See full review</a>
                    </div>
                    <div class="flex-wrap flex-col flex-align-center width-max-275 padding-25">
                        <img class="circle-img" src="/images/Reviewers/WT-RK.jpg">
                        <h4>Rick Kolesar</h4>
                        <h5><em>Game Designer, WildTangent Studios</em></h5>
                    </div>
                    <div class="target hidden speech-bubble">
                        <p>Samantha was able to create the type of art & style that we needed for our projects and studio. Not only 
                            did she get her tasks done on time, her art barely needed a 2nd or 3rd pass; she was able to take very 
                            little directions and create exactly what was needed.  Her art was also inspiring, as some designs would 
                            lead to new ideas, ideas that she was already thinking about. She knew the tech side of creating art 
                            (file size, game performance, etc) and showed game design prowess by making sure certain elements stood 
                            out and/or easy to comprehend.</p>
                        <p>Samantha is also a good person to be around and to work with.  She became part of the team quickly, taking 
                            direction while also giving back her thoughts on anything from art to game design.  She shares ideas, 
                            processes, and is just fun to be around.  I look forward to working with her again.</p>
                    </div>
                </div>

                <div class="flex-wrap flex-section company-section review flex-align-center">
                    <div class="speech-bubble flex-wrap flex-justify-center">
                        <p>"Sam is an awesome coworker. She is great at both execution and problem solving. Not only did she become a key 
                            player on our team, but she’s also become a close friend. Sam’s skills and leadership qualities would make her 
                            an invaluable addition to any team or contract."</p>
                    </div>
                    <div class="flex-wrap flex-col flex-align-center width-max-275 padding-25">
                        <img class="circle-img" src="/images/Reviewers/WT-TA.jpg">
                        <h4>Teo Acosta</h4>
                        <h5><em>UI/UX Artist, WildTangent Studios</em></h5>
                    </div>
                </div>

                <div class="flex-wrap flex-section company-section review flex-align-center">
                    <div class="speech-bubble flex-wrap flex-justify-center">
                        <p>"Samantha is incredibly creative artisitcally. She learned all the graphic software easily, and 
                            created high quality content. Sam was a natural fit on the team from the start. She got along 
                            great with everyone, and her comic timing is on point."</p>
                    </div>
                    <div class="flex-wrap flex-col flex-align-center width-max-275 padding-25">
                        <img class="circle-img" src="/images/Reviewers/GG-AM.jpg">
                        <h4>Allen Manning</h4>
                        <h5><em>Senior Graphic Designer, Global Gaming Group</em></h5>
                    </div>
                </div>

                <div class="flex-wrap flex-section company-section review flex-align-center">
                    <div class="speech-bubble flex-wrap flex-justify-center">
                        <p>"Samantha is an excellent artist who is always able and willing to move quickly when a project requires it. 
                            She is extremely professional and can adapt to changes on the spot. When we worked together, she worked 
                            directly with Marketing so I know how quick the turnaround for assignments was and she always gave her best 
                            when problems would arise. She is also a skilled artist with many years of experience in video games creating 
                            UI, icons, marketing images and other 2D art. Aside from her artistry, Samantha is also a great coworker. 
                            She gets along with everyone she meets, is dependable and is a great problem solver. I believe Samantha would 
                            be a great fit for any company."</p>
                    </div>
                    <div class="flex-wrap flex-col flex-align-center width-max-275 padding-25">
                        <img class="circle-img" src="/images/Reviewers/SS-SK.jpg">
                        <h4>Scott Kletzka</h4>
                        <h5><em>3D Artist, Sunstorm Games</em></h5>
                    </div>
                </div>  

                <div class="flex-wrap flex-section company-section review flex-align-center" style="margin-bottom: 0;">
                    <div class="speech-bubble flex-wrap flex-justify-center">
                        <p>"Working with Sam was a pure joy. She brought a positive attitude and a strong work ethic to the
                            Sunstorm team. Sam is an extremely talented and creative individual with a diverse set of skills 
                            -- a combo that easily brought her to the forefront on many projects. Additionally, she is a strong, 
                            supportive team member on collaborative efforts. Sam would be a wonderful addition to any creative team."</p>
                    </div>
                    <div class="flex-wrap flex-col flex-align-center width-max-275 padding-25">
                        <img class="circle-img" src="/images/Reviewers/SS-DL.jpg">
                        <h4>Diona Linardo</h4>
                        <h5><em>Principal Artist, Sunstorm Games</em></h5>
                    </div>
                </div>      
            </div>
        </div>
        <h4 class="banner-red" style="margin-top: 0;"></h4>
    </div>

<% include ./partials/footer.ejs %>