<% include ./partials/header.ejs %>	
<% include ./partials/nav.ejs %>

<div class="grid">
    <header class="flex-col header">
        <div>
            <img class="signature" src="/images/Signature.png"/>
        </div>
        <h1 class="flex-wrap flex-justify-center" style="padding: 0 50px;">Samantha Yeager</h1>
        <h2><em>UI / UX Designer</em></h2>
    </header>

    <div id="reviews">
        <img class="section-header" src ="/images/SectionHeaders/header_reviews.png" alt="Reviews of Sam Yeager's work"/>
        <div class="flex-wrap flex-col no-overflow">
            <div class="flex-wrap company flex-align-center flex-justify-center">
                <p>Check out what my coworkers, clients, and managers have to say about me and my work!</p>
                <div class="company-section" style="width: 500px;">
                    <p>Sam was, from the very beginning, a true professional. I hired her to help
                        develop a mobile game user interface, and she was always organized, communicative, and
                        on-time with her delivery. I never had to worry that the work would be done. Sam was very good
                        about keeping me updated throughout the project, and I always felt comfortable giving her some
                        direction and allowing her to work on her own.</p>
                    <h4>- Kristin Brumley, Owner at Cake Golem Productions, LLC</h4>
                    <a>See full review</a>
                </div>
                <div class="company-section" style="width: 500px;">
                    <p>Sam came to Summit’s attention in the best way… by referral from the trusted source of a
                        trusted source. [...] Could she deliver what we needed, on time and on our budget? Yup. 
                        Turns out she could, and did. It’s my suspicion that given the chance, she’d most certainly 
                        be able to do that for you, too.</p>
                    <h4>- Mike Cohn, CEO at Summit Business Technologies</h4>
                    <a>See full review</a>
                </div>
                <div class="company-section" style="width: 500px;">
                    <p>Samantha is incredibly creative artisitcally. She learned all the graphic software easily, and 
                        created high quality content. Sam was a natural fit on the team from the start. She got along 
                        great with everyone, and her comic timing is on point.</p>
                    <h4>- Allen Manning, Senior Graphic Designer at Global Gaming Group</h4>
                </div>
                <div class="company-section" style="width: 500px;">
                    <p>Working with Sam was a pure joy. She brought a positive attitude and a strong work ethic to the
                            Sunstorm team. Sam is an extremely talented and creative individual with a diverse set of skills 
                            -- a combo that easily brought her to the forefront on many projects. Additionally, she is a strong, 
                            supportive team member on collaborative efforts. Sam would be a wonderful addition to any creative team.</p>
                    <h4>- Diona Linardo, Principal Artist at Sunstorm Games</h4>
                </div>
                <div class="company-section" style="width: 500px;">
                    <p>Sam is an awesome coworker. She is great at both execution and problem solving. Not only did she been a key 
                        player on our team, but she’s also become a close friend. Sam’s skills and leadership qualities would make her 
                        an invaluable addition to any team or contract.</p>
                    <h4>- Teo Acosta, UI/UX Artist at WildTangent Studios</h4>
                </div>
                <!-- <object data="/documents/review_kristin-brumley_cake-golem.pdf" type="application/pdf" width="612" height="825">
                    alt : <a href="/documents/review_kristin-brumley_cake-golem.pdf">Kristin Brumley's Review</a>
                </object>
                <object data="/documents/review_mike-cohn_summit-biz.pdf" type="application/pdf" width="612" height="825">
                    alt : <a href="/documents/review_mike-cohn_summit-biz.pdf">Mike Cohn's Review</a>
                </object> -->
            </div>
        </div>
    </div>

<% include ./partials/footer.ejs %>