* {
  margin: 0;
  padding: 0;
}
.page-wrap-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: flex-start;
}
.bg-red {
  background-color: #ee2524;
}
.bg-dark-grey {
  background-color: #333;
}
.temp-square {
  width: 25%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}
.nav {
  width: 100%;
  height: 100px;
  background-color: white;
}
