html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: "Montserrat", sans-serif;
	text-align: center;
	color: white;
}

body {
	min-height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 3fr auto 1fr 1fr;
	grid-template-areas: 
		"header header header"
		"main main main"
		"contact contact contact"
		"footer footer footer";
}

h1 {
	font-size: 3em;
	text-transform: uppercase;
	margin: 0;
	font-family: "Francois One", sans-serif;
	letter-spacing: 2px;
}

h2 {
	color: #dbc5c5;
	font-size: 2em;
	text-transform: uppercase;
	margin: 10px;
}

h3 {
	font-size: 3em;
	font-family: "Francois One", sans-serif;
	letter-spacing: 1px;
}

.title-card {
	background: linear-gradient(to right, rgba(142, 44, 44, 0.25), rgba(142, 44, 44, 0.5), 
		rgba(142, 44, 44, 0.75),rgba(142, 44, 44, 0.75), 
		rgba(142, 44, 44, 0.5), rgba(142, 44, 44, 0.25));
	border: 2px solid white;
	padding: 10px 10px;
	margin: 0 auto;
	align-self: center;
}

h4 {
	font-size: 1.5em;
	margin: 1em 0 0.5em 0;
}

h5 {
	font-size: 1.25em;
	margin: 1em 0;
}

/* 	////////////////////////////////////////////
	HEADER - Logo, name, title, and nav
	////////////////////////////////////////////	*/

.header {
	grid-area: header;
	display: flex;
	justify-content: center;
	background-color: #a02828;
	border-bottom: 1px solid #850606;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.35);
	padding: 2em 0;
}

.signature {
	width: 200px;
	height: 200px;
	margin: 1.5em;
}

/* 	////////////////////////////////////////////
	MAIN - main body content organization in grid
	////////////////////////////////////////////	*/

.grid {
	position: absolute;
	top: 50px;
	width: 100%;
}

.main {
	grid-area: main;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
}

.section-header {
	width: 175px;
	margin: 0 auto 1.25em auto;
}

#projects, #resume, #about {
	margin-top: 150px;
	grid-column: 1 / span 3;
}

.btn-normal {
	color: #dbc5c5;
	margin: 0.5em 0.5em;
	padding: 0.5em;
	text-decoration: none;
	border: 1px solid #dbc5c5;
}

.btn-normal p {
	margin: 0 5px;
}

.btn-normal:hover {
    color: white;
    border-color: white;
}

.btn-normal:active {
    color: #ad9c9c;
    border-color: #ad9c9c;
    background-color: #6d1110;
}

/* 	////////////////////////////////////////////
	PROJECTS SECTION - 1 main project, 2 - 3 sub projects
	////////////////////////////////////////////	*/ 

.proj-main {
	min-height: 600px;
}

.proj-sub {
	height: 400px;
	align-content: center;
	padding: 1.5em;
	min-width: 290px;
}

.section-card {
	grid-column: 1 / span 3;
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
	width: 90%;
	max-width: 1400px;
	overflow: hidden;
}

/* 	////////////////////////////////////////////
	RESUME SECTIONS - languages/software/education & companies
	////////////////////////////////////////////	*/ 

#lang-soft-edu {
	padding: 0 7% 75px 7%;
	background-color: #e5e0e0;
	background-image: url(/images/jesus-kiteque-224069-unsplash.png);
	background-position: 50% 80%;
	background-repeat: no-repeat;
	background-size: cover;
}

#lang-soft-edu h4,{
	color: white;
	margin-top: 1.5em;
}

.icon-circle {
	display: inline-block;
	border-radius: 50%;
	padding: 2.5em;
	background-color: white;
	margin: 75px auto 0 auto;
}

.icon-circle i {
	color: #ceb6b6;
	font-size: 2.5em;
}

.company-logo-wrap {
	border-radius: 50%;
	display: inline;
	background-color: white;
	margin: 0 auto;
	overflow: hidden;
}

.company-logo-double {
	justify-content: space-around;
}

.company-logo-double i {
	font-size: 2.5em;
	align-self: center;
}

.company-logo {
	width: 100px;
	height: 100px;
}

.company {
	justify-content: space-between;
	background-color: #c8aaaa;
	box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.5);
}

.company-section {
	padding: 2em;
	margin: 0;
	justify-content: center;
}

.company-title-section {
	max-width: 200px;
}

.company-img {
	background-color: #a97e7e;
	min-width: 225px;
}

.company-proj {
	min-width: 225px;
	min-height: 225px;
}

.store-badge {
	width: auto;
	height: 40px;
	padding: 0 4px;
}

.store-badge-wrap {
	justify-content: center;
	margin: 10px 0;
}

.btn-badge {
	color: white;
	background-color: black;
	border-radius: 10px;
	border: 1px solid lightgrey;
	padding: 0.4em;
	text-decoration: none;
}

.btn-badge-first-p {
	font-size: 0.55em;
}

.btn-badge i {
	font-size: 1.5em;
	display: inline;
}

.btn-badge p {
	margin: 0 0 0 0.5em;
	align-self: center;
}

.banner-red {
	color: #dbc5c5;
	display: flex;
	align-content: center;
	justify-content: center;
	min-height: 50px;
	text-align: center;
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	background-color: #8c1919;
}

.banner-red h4 {
	color: white;
	margin: 1.25em;
}

.banner-red span {
	margin-left: 10px;
}

.banner-red a {
	color: white;
	text-decoration: none;
}

.banner-red a:hover {
	color: black;
}

.border-bottom {
	border-top: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

/* 	////////////////////////////////////////////
	ABOUT SECTION - info about and image of me		  
	////////////////////////////////////////////	*/

.artist-img {
	display: block;
	max-width: 375px;
	max-height: 375px;
	width: auto;
	height: auto;
}

/* 	////////////////////////////////////////////
	CHIPS - small bits of information with a tag
	i.e. software or languages I know 		  
	////////////////////////////////////////////	*/

.chip {
	display: flex;
	border-radius: 7px;
	border: 1px solid rgba(255, 255, 255, 0.75);
	margin: 5px;
	align-items: stretch;
}

.chip-body {
	color: white;
	padding: 10px;
	width: auto;
}

.chip-tag {
	color: #ceb6b6;
	background-color: white;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	padding: 10px;	
	width: auto;
}

.chip-wrap {
	justify-content: center;
}

/* 	////////////////////////////////////////////
	IMG CLASSES - for projects and Companies
	////////////////////////////////////////////	*/

.bg-cover {
	background-size: cover;
	background-position: center;
}	

.bg-proj-small {
	background-position: 50% 35%;
}

/* main projects */
.bg-wildtangent-casino {
	background-image: url("/images/ProjectHeaders/WildTangent.png");
}

.bg-spellslingers {
	background-image: url("/images/ProjectHeaders/SpellSlingers.png");
}

.bg-stellarfortune {
	background-image: url("/images/ProjectHeaders/StellarFortune.png");
}

/* companies */
.bg-freelance {
	background-image: url(/images/sylvia-yang-409493-unsplash.png);
}

.bg-cake-golem {
	background-image: url(/images/sergee-bee-7017-unsplash.png);
}

.bg-wildtangent {
	background-image: url(/images/sergee-bee-6680-unsplash.png);
}

.bg-g3 {
	background-image: url(/images/global_gaming_group.png);
}

.bg-spin-for-good {
	background-image: url(/images/daniil-vnoutchkov-397278-unsplash.png);
}

.bg-sunstorm {
	background-image: url(/images/sunstorm_games.png);
}

/* company projects */
.bg-proj-freelance {
	background-image: url(/images/ProjectHeaders/Freelance.png);
	background-position: 50% 0%;
}

.bg-proj-spellslingers {
	background-image: url(/images/ProjectHeaders/SpellSlingers_small.png);
	background-position: 50% 20%;
}

.bg-proj-wildtangentcasino {
	background-image: url(/images/ProjectHeaders/WildTangentCasino.png);
}

/* .bg-proj-polarbowler {
	background-image: url(/images/ProjectHeaders/PolarBowler.png);
}

.bg-proj-supersevens {
	background-image: url(/images/ProjectHeaders/SuperSevens.png);
} */

.bg-proj-stellarfortune {
	background-image: url(/images/ProjectHeaders/StellarFortune_small.png);
}

.bg-proj-spinforgood {
	background-image: url(/images/ProjectHeaders/SpinForGood.png);
}

.bg-proj-sunnyvillepetsalon {
	background-image: url(/images/ProjectHeaders/SunnyvillePetSalon.png);
	background-position: 50% 55%;
}

.bg-proj-mypony {
	background-image: url(/images/ProjectHeaders/MyPony.png);
}

/* about */
.bg-artist {
	background-image: url(/images/Sam.jpg);
	max-width: 500px; 
	min-width:200px; 
	min-height: 250px;
}

/* 	////////////////////////////////////////////
	FOOTER - contact info and copyright claim
	////////////////////////////////////////////	*/

.contact {
	grid-area: contact;
	color: #dbc5c5;
	background-color: #a02828;
	padding: 15px;
	border-top: 1px solid #850606;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

.contact-content {
	margin: 0 auto;
	justify-content: center;
}

.icon-link {
	color: #dbc5c5;
}

.icon-link:hover {
	color: white;
}

.icon-link:active {
	color: #6d1110;
}

.phone {
	align-items: center;
	justify-content: center;
}

.contact i {
	padding: 0 10px;
}

.footer {
	grid-area: footer;
	color: #ee2524;
	background-color: #8c1919;
	padding: 14px 0;
}

/* 	////////////////////////////////////////////
	HELPER CLASSES - small, generic, reusable
	////////////////////////////////////////////	*/

.end-margin {
	margin-bottom: 150px;
}

.margin-top-25 {
	margin-top: 25px;
}

.no-overflow {
	overflow: hidden;
}

.padding-left {
	padding-left: 10em;
}

.margin-top-small {
	margin-top: 0;
}

.margin-top-2 {
	margin-top: 2em;
}

.margin-bottom-large {
	margin-bottom: 1.5em;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.flex-section {
	flex: 1;
}

.flex-col {
	flex-direction: column;
}

.flex-center {
	justify-content: center;
}
.flex-justify-betw {
	justify-content: space-between;
}

.flex-align-center {
	align-items: center;
}

.flex-align-left {
	align-content: stretch;
}

.align-left {
	text-align: left;
}

.title {
	font-size: 1.5em;
	font-weight: bold;
}

.text-black {
	color: black;
}

.no-padding {
	padding: 0;
}

.btn-regular {
	background-color: #6d1110;
	padding: 1em;
}


/*UNUSED*/
/*.tag-art {
	background-color: #ee2524;
}

.tag-anim {
	background-color: #f76911;
}

.tag-ctrl {
	background-color: #7c10f7;
}

.tag-engine {
	background-color: #4e52ce;
}

.tag-org {
	background-color: #ba3cd1
}

.tag-proto {
	background-color: #4ee5d8;
}*/

.image-chip {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 50%;
	height: 100px;
	background-size: cover;
	background-position: center;
}

.bg-draw {
	background-image: url(https://images.unsplash.com/photo-1511854005000-f27912f66ade?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=af66e8fb5115d702cd19c7145e616641&auto=format&fit=crop&w=1050&q=80);
}

.bg-walk {
	background-image: url(https://images.unsplash.com/photo-1521953884764-5484f171c1a2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=372e6ccaef37e81bd31bfe8e8f2da022&auto=format&fit=crop&w=1050&q=80);
}

.bg-cook {
	background-image: url(https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=563379aa04ffc7a7acaa0b024b0b90fe&auto=format&fit=crop&w=730&q=80);
}

.bg-anime {
	background-image: url(https://images.unsplash.com/photo-1467293622093-9f15c96be70f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c64fdfb93cfc7ef8354665bf1507b30a&auto=format&fit=crop&w=1050&q=80);
}

.bg-vgame {
	background-image: url(https://images.unsplash.com/photo-1486572788966-cfd3df1f5b42?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b4da6b29141c3acee36f4fea461fa211&auto=format&fit=crop&w=1052&q=80);
}

.bg-smash {
	background-image: url(https://images.unsplash.com/photo-1515264741767-1b533a4cdcb7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d1f073745b69faf7429a8b67a6ca7575&auto=format&fit=crop&w=1050&q=80);
}

.bg-bgame {
	background-image: url(https://images.unsplash.com/photo-1506954673998-b077f05b13c7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cbd9462960235b41245689f258d125a8&auto=format&fit=crop&w=1191&q=80);
}