/* 	////////////////////////////////////////////
    NAV
////////////////////////////////////////////	*/ 

.nav {
    font-size: 0.75em;
    position: fixed;
    justify-content: center;
    width: 100%;
    background-color: #8c1919;
    z-index: 2;
}

.nav-item {
    color: #dbc5c5;
    margin: 0.5em 0.5em;
    padding: 0.5em;
    text-decoration: none;
    border: 1px solid #dbc5c5;
}

.nav-item i:first-of-type {
    margin-right: 0.5em;
}

.nav-item:hover {
    color: white;
    border-color: white;
}

.nav-item:active {
    color: #ad9c9c;
    border-color: #ad9c9c;
    background-color: #6d1110;
}

.nav-brand img {
    height: 50px;
    width: 50px;
    margin: 0.5em 0.5em;
}

.nav-links {
    align-items: center;
}

/* 	////////////////////////////////////////////
RESPONSIVENESS
////////////////////////////////////////////	*/ 

.show-menu {
    width: 100%;
    display: none;
}

.show-menu i {
    font-size: 2em;
    align-self: flex-end;
    padding-right: 25px;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ #menu{
    display: block;
}

@media screen and (max-width : 760px){
    .nav-links {
        display: none;
    }

    .nav-item {
        width: 100%;
        display: block;
        margin: 0;
        border-bottom: none;
        border-left: none;
        border-right: none;
        line-height: 40px;
    }

    .show-menu {
        display: flex;
    }

    .desktop-brand img{
        display: none;
    }

    .nav-brand img {
        height: 40px;
        width: 40px;
        margin: 0.5em 0.5em;
    }

    #menu {
        width: 100%;
    }
}